/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	background-color: #d1d1d6;
}

li {
	width: 50vh;
	height: 50vh;
	margin: 25vh auto;
	overflow: hidden;
}

a {
	display: block;
	height: 2vh;
	background-color: #3a3a3c;
	animation-name: animatie;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes animatie {
	50% {
		height: 50vh;
		transform: translate(0);
		background-color: #2c2d2e;
	}

	100% {
		height: 2vh;
		transform: translate(0, 48vh);
	}
}

.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }