/* Gebruikte kleuren:
black voor tekst
links in de header: #035ec4, #ed5131
grijze achtergrond bovenaan main element: #eee
links in de tekst en footer: #ffa100, #ed5131, #c397cc, #00945c
border figuren: #eee
figuur1: #ff3624, #ffa100, #c397cb, #005ec4, #00945c
figuur2: #56d5c0, #e2c1bc, #618ad5, #618ad5, #f3dc05
figuur3: #ed5131, white, black, #91dcec
*/
body {
  padding: 0.5rem;
}
header nav ul {
  text-align: end;
  padding: 1rem 0;
}
header nav ul li {
  display: inline-block;
  padding-left: 0.2rem;
}
header nav ul li:nth-child(1) {
  position: absolute;
  left: 0.2rem;
  font-weight: 600;
  font-size: 120%;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li:hover a {
  color: #ed5131;
}
header nav ul li.logo:hover h1 a {
  color: #035ec4;
}

main h2 {
  font-weight: 600;
}
main > h2,
main > p {
  background-color: lightgray;
  padding: 0.6rem;
  line-height: 1.4;
}
article h2 {
  padding: 1rem 0 0.75rem 0;
}
article h3 {
  font-weight: 600;
  padding: 1rem 0;
}

main .figuur2 {
  height: 30vh;
  background-color: plum;
}
main .figuur3 {
  height: 30vh;
  background-color: fuchsia;
}
article.een p a {
  color: orange;
}
article.twee p a {
  color: plum;
}
article.drie p a {
  color: green;
}

.twee p,
.drie p {
  background-color: white;
}
.twee h2,
.drie h2 {
  border-top: 1.5px solid black;
  margin-top: 1rem;
  padding-top: 1rem;
}
footer {
  border-top: 1.5px solid black;
  margin-top: 1rem;
  padding-top: 1rem;
}
footer a {
  color: orange;
}
main {
position: absolute;
}
main .figuur1 {
    background-color: red;
    height: 30vh;
    display: grid;
    column-gap: 20%;

    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.figuur1 .een {
    background-color: yellow;
    position: relative;
    top: 7vh;
}
.figuur1 .twee {
    background-color: blue;
}
.figuur1 .drie {
    background-color: orange;
    position: relative;
    top: 7vh;
}
.figuur1 .vier {
    background-color: green;

    position: relative;
    left: 39vw;
    top: -10vw;

    transform: rotate(0.5turn);

}


@media (min-width: 1200px) {
  body {
    padding: 1rem 7vw;
  }
  .twee h2,
  .drie h2 {
    border-top: 0rem;
    margin-top: 0rem;
    padding-top: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }
  main > h2 {
    grid-column: 1/4;
  }
  main > p {
    grid-column: 1/4;
  }
  header nav ul li:nth-child(1) {
    position: absolute;
    left: 7vw;
    font-weight: 600;
    font-size: 120%;
  }

  footer {
    border-top: 1.5px solid black;
    margin-top: 10rem;
    padding-top: 2rem;
  }
}
