:root {
  font-size: 62.5%; /* 1 rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  background-color: orangered;
  height: 50rem;
  width: 50rem;
  margin: 3rem auto;
  border: .7rem solid;
}
div {
  background-color: plum;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  margin: 17%;

  overflow: hidden;

  border: .7rem solid;
}

h1 {
  background-color: orange;
  height: 40rem;
  width: 40rem;
  font-size: 5rem;
  font-weight: bold;

  margin-left: -55%;
  margin-top: -55%;
  padding-top: 100%;
  text-align: end;
  padding-right: 3rem;

  border: .7rem solid;
}
