/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	font-size: 3vw;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 700;
}

ul {
	padding: 3vw;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(3,1fr);
	gap: 3vw;
	height: 100vh;
}

li:nth-child(1) {
	color: #3f84e5;
	grid-column: 1 / 4;
	line-height: 3.8vw;
}

li:nth-child(2) {
	color: #f0e2e7;
	grid-column: 4 / 7;
}

li:nth-child(3) {
	color: #b20d30; 
	grid-column: 1 / 3;
	line-height: 3.25vw;
}

li:nth-child(4) {
	color: #c17817;
	grid-column: 3 / 5;
	line-height: 4vw;
}

li:nth-child(5) {
	color: #3f784c;
	grid-column: 5 / 7;
	grid-row: 2 / 4;
	line-height: 4.14vw;
}

li:nth-child(6) {
	color: #89b6a5;
	grid-column: 1 / 5;
	line-height: 3.2vw;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }