/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	font-family: 'Balsamiq Sans', cursive;
}

li{
	display: inline-block;
	width: 33.333333vw;
	height: 33.333333vh;
	background-color: pink;
}

a {
	font-size: 5vw;
	text-decoration: none;
	color: white;
	height: 100%;
	display: block;
	text-align: center;
	padding-top: 7rem;
}

li:nth-child(1) {background-color:#89b374;}
li:nth-child(2) {background-color:#b5c266;}
li:nth-child(3) {background-color:#e4e4e4;}
li:nth-child(4) {background-color:#387490;}
li:nth-child(5) {background-color:#01ACB6;}
li:nth-child(6) {background-color:#2B2B2D;}
li:nth-child(7) {background-color:#702E52;}
li:nth-child(8) {background-color:#F2503B;}
li:nth-child(9) {background-color:#FEBE28;}

li a:hover {
	background-color: white; 
	color: black;}


	.subnav-content{
		text-align: center;
		margin-top: 20rem;
	}
	.navbar {
		overflow: hidden;
		background-color: #333; 
	  }
	  .navbar:hover{
		  background-color: red;
		  display: block;
	  }
	.navbar a {
		float: left;
		margin-left: 47%;
		font-size: 2rem;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }