/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */


li:nth-child(1) {background-color: red;}
li:nth-child(2) {background-color: green;}
li:nth-child(3) {background-color: yellow;}
li:nth-child(4) {background-color: blue;}

ul {
	display: grid;
	height: 100vh;
}

@media (min-width: 600px) {
	ul {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}

@media (min-width: 800px) {
	ul {
		grid-template-columns: 1fr 1fr;
	}

	li:nth-child(3) {grid-column: 1 / 2;grid-row: 1 / 2;}
	li:nth-child(4) {grid-column: 2 / 3;grid-row: 1 / 2;}


}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }