:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*
*:before,
*:after {
  box-sizing: inherit;
}
h2 {
  color: aliceblue;
  font-size: 8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: end;
  margin: 3rem;
}
main {
  height: 100vh;
  margin: 1rem;
  display: grid;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E"
    "F"
    "G"
    "H";
  gap: 1rem;
}
div:nth-child(1) {
  grid-area: A;
  background-color: red;
}
div:nth-child(2) {
  grid-area: B;
  background-color: goldenrod;
}
div:nth-child(3) {
  grid-area: C;
  background-color: darkblue;
}
div:nth-child(4) {
  grid-area: D;
  background-color: green;
}
div:nth-child(5) {
  grid-area: E;
  background-color: pink;
}
div:nth-child(6) {
  grid-area: F;
  background-color: lightgreen;
}
div:nth-child(7) {
  grid-area: G;
  background-color: burlywood;
}
div:nth-child(8) {
  grid-area: H;
  background-color: orange;
}

@media (min-width: 800px) {
  main {
    grid-template-areas:
      "A B"
      "C D"
      "E F"
      "G H";
  }
  h2 {
    text-align: start;
  }
}

@media (min-width: 1200px) {
  main {
    grid-template-areas:
      "A . . B"
      "C D E F"
      "G . . H";
  }
  h2 {
    text-align: end;
  }
}