/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	font-size: 2rem;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	width: 80vw;
	max-width: 50rem;
	margin: 13rem auto;
}

a {
	display: block;
	background-color: black;
	color: white;
	width: 16rem;
	text-decoration: none;
	height: 3rem;
	border-radius: 1rem;
	margin: 0 auto;
	font-size: 1.3rem;
	padding-top: .75rem;
}

p {
	margin-bottom: 2.2rem;
	line-height: 3rem;
	color: #282827;

}

h2 {
	font-weight: 900;
	font-size: 5rem;
	margin-bottom: 2.2rem;
}

h2 span {
	border-bottom: 1rem solid #fccc00;
	border-radius: 50%;
}