/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	font-size: 1.2rem;
	font-family:Arial, Helvetica, sans-serif;
	font-family: ;
}

div.banner {
	background-color: #c8b8ff;
	padding-top: 2vh;
	text-align: center;
	height: 8vh;
}

.link1 {
	color: #5551ff;
}

header {
	text-align: right;
	padding-top: 4.5vh;
	padding-right: 4.5vh;
	height: 12vh;
}

nav ul li {
	display: inline;
	margin-left: 2rem;
}

nav a {
	color: black;
	text-decoration: none;

}

main {
	background-color: #699bf7;
	height: 80vh;
}

article {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 80vh;
	padding: 4rem 8rem;
}

.afbeelding {
	width: 50%;
	display: inline-block;
	padding: 4rem;
}

img {
	width: 70%;
}

h3 {
	font-size: 2rem;
	margin-bottom: 2rem; 
	font-weight: 100;
	
}

h2 {
	font-size: 3rem;
	margin-bottom: 2rem; 
	font-weight: 600;
}

p {
	line-height: 2rem;
	margin-bottom: 2rem;

}

.get_started {
	display: block;
	background-color: black;
	color: white;
	width: 10rem;
	text-align: center;
	height: 3.2rem;
	padding-top: 1rem;
	text-decoration: none;
	border-radius: .5rem;
}

