/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	width: 50vw;
	height: 50vw;
}

h1 {
	background-color: #F72585;
	width: 10vw;
	height: 100vh;
	box-shadow: 
		10vw 0 #b5179e, 
		20vw 0 #7209b7,
		30vw 0 #560bad,
		40vw 0 #480ca8,
		50vw 0 #3a0ca3,
		60vw 0 #3f37c9,
		70vw 0 #4361ee,
		80vw 0 #4895ef,
		90vw 0 #4cc9f0;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }