/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

p {
	width: 25vw;
	height: 100vh;
	background-color: #15998E;
	animation-name: animatie;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;	
}

@keyframes animatie {
	16.666% {
		background-color: #15998E;
		width: 50vw;
		transform: translate(0,0);
	}
	33.333% {
		background-color: #45B08C;
		width: 25vw;
		transform: translate(25vw,0);
	}
	50% {
		background-color: #45B08C;
		width: 50vw;
		transform: translate(25vw,0);
	}
	66.666%, 100% {
		background-color: #47bcd1;
		width: 25vw;
		transform: translate(50vw,0);
	}
	83.333% {
		background-color: #47bcd1;
		width: 50vw;
		transform: translate(50vw,0);
	}
	100% {
		background-color: #C0DCEC;
		width: 25vw;
		transform: translate(75vw,0);
	}



}


.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }