:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body > ul {
  height: 85vh;
  width: 70vw;
  margin: auto;
  margin-top: 4vh;
  padding: 1vh;
  background-color: black;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 2fr 4fr;
}

body > ul > li:nth-child(1) {
  background-color: sienna;
  background-image: repeating-linear-gradient(
    transparent,
    transparent 4rem,
    black 4rem,
    black 6rem
  );
}
body > ul > li:nth-child(2) {
  background-color: aliceblue;
  background-image: repeating-linear-gradient(
    140deg,
    transparent,
    transparent 4rem,
    black 4rem,
    black 6rem
  );
}
body > ul > li:nth-child(3) {
  background-color: yellow;
}

body ul li ul {
  height: 100%;
  background-color: black;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 2fr 2fr;
}
body ul li ul li {
  background-color: aliceblue;
}
body ul li ul li:nth-child(1) {
  grid-column: 1/7;
  background-color: olive;
}
body ul li ul li:nth-child(2) {
  grid-column: 1/7;
  background-color: palegoldenrod;
}
body ul li ul li:nth-child(3) {
  grid-column: 1/4;

  background-image: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 30%,
      black 30%,
      black 35%
    ),
    repeating-linear-gradient(
      transparent,
      transparent 20%,
      black 20%,
      black 26%
    );
}
body ul li ul li:nth-child(4) {
  grid-column: 4/7;
  background-color: salmon;
}
body ul li ul li:nth-child(5) {
  grid-column: 1/3;
  background-color: olivedrab;
}
body ul li ul li:nth-child(6) {
  grid-column: 3/-1;
  background-color: skyblue;
}

body ul li ul li:nth-child(2) {
  position: relative;
  overflow: hidden;
}
li > p {
  height: 1rem;
  width: 3rem;
  margin: 1rem;
  display: inline-block;
  background-color: red;
  position: absolute;
}
li > p:nth-child(1) {
  top: 30%;
  left: 1%;
  transform: rotate(-30deg);
}
li > p:nth-child(2) {
  top: 80%;
  left: 10%;
  transform: rotate(-20deg);
}
li > p:nth-child(3) {
  top: 30%;
  left: 25%;
  transform: rotate(-30deg);
}
li > p:nth-child(4) {
  top: 50%;
  left: 40%;
}
li > p:nth-child(5) {
  top: 30%;
  left: 60%;
  transform: rotate(-30deg);
}
li > p:nth-child(6) {
  top: 50%;
  left: 70%;
  transform: rotate(-30deg);
}
li > p:nth-child(7) {
  top: 30%;
  left: 80%;
}
li > p:nth-child(8) {
  top: 50%;
  left: 90%;
}
li > p:nth-child(9) {
  bottom: 20%;
  left: 80%;
}
