/* Gebruikte kleuren:
#2da77c: groenblauw - gebruikt voor border boven header
#289496: blauw - gebruikt voor border onder header
#e7a618: oranje - gebruikt voor border boven footer
#6fa453: groen (menu, links, grid)
#1d82ae: blauw (menu, links, grid)
#ce511b: rood (menu, links, grid)
#da7e19: oranje (menu, links, grid)
*/

body {
  font-size: 1.6rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  background-color: skyblue;
}

header {
  border-top: 1rem solid red;
  padding: 1rem;
}
header h1 a img {
  height: 50px;
}
header h4 {
  display: none;
}
nav ul li {
  display: inline-block;
  padding: 1rem;
}
nav ul li a {
  text-decoration: none;
}
nav ul li:nth-child(1) a {
  color: blue;
}
nav ul li:nth-child(2) a {
  color: red;
}


main {
  border-top: 1rem solid green;
  padding: 1rem;
}
main h2 {
  font-weight: 600;
  padding: 1.5rem 0;
}
.buurtnieuws { 
  display: grid;
  gap: 1rem;
}
.buurtnieuws article {
  background-color: burlywood;
}
.buurtnieuws article > * {
  padding: 1rem;
}
.buurtnieuws article h3 {
  font-weight: 600;
}
.buurtnieuws article p.datum {
  color: green;
}
.buurtnieuws article div {
  height: 30vh;
  background-color: palegreen;
  margin: 1rem;
}
.buurtnieuws article p {
  line-height: 2;
}

.agenda {
  background-color: pink;
}


@media (min-width: 700px) {
  body {
    background-color: orange;
  }
}