/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


body {
	background-color: #f6163b;
	color: white;
	font-family: "helvetica neue", sans-serif;
	font-size: 1.4rem;
	padding: 10%;
}

label, legend {
	display: none;
}

h1 {
	font-size: 3.1rem;
	font-weight: 900;
	text-align: center;
	margin-bottom: 3rem;
	line-height: 3.8rem;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholders */

input, textarea {
	font-family: inherit;
	font-size: inherit;
	display: block;
	border: 0;
	background-color: #f6163b;
	color: white;
	border: .1rem solid white;
	margin: 0 auto 2rem auto;
	width: 90%;
	padding: .75rem;
	border-radius: .2rem;
}

input[type=submit]:hover {
	background-color: white;
	color: #f6163b;
}

input::placeholder, textarea::placeholder {
	color: white;
  }

  textarea {
	  resize: none;
  }

  @media (min-width: 800px) {
	input, textarea {
		width: 70%;
	}

	body {
		padding: 5%;
	}
  }

  @media (min-width: 1200px) {

	input, textarea {
		width: 65%;
	}

	body {
		padding: 5% 0;
		max-width: 65vw;
		margin: 0 auto;
	}
  }

  .subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }