/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

header {
	height: 70vh;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.3rem;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

h1 {
	color: #ed4d02;
	background-color: black;
	font-size: 4rem;
	text-align: center;
	font-weight: 700;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	display: flex;
	flex-direction: column;
	height: 100%;
}

nav ul li {
	flex: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.geselecteerd {
	background-color: yellow;
}

nav ul li {
	background-color: blue;
	border-bottom: .1rem solid white;
}

nav ul li:last-child {border-bottom: 0;}

nav ul li:hover {
	background-color: #ed4d02;
}

nav ul li.geselecteerd:hover {
	background-color: yellow;
}

nav ul li a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

li.geselecteerd a {color: black;}

main {
	height: 15vh;
	background-image: repeating-linear-gradient(-45deg, black, black 10%, white 10%, white 20%);
}

footer {
	height: 15vh;
	background-image: repeating-linear-gradient(45deg, black, black 10%, white 10%, white 20%);
}

@media (min-width: 1100px) {
	header {
		font-size: 2.2rem;
		grid-template-columns: 1fr;
		grid-template-rows: 6fr 1fr;
	}

	nav ul {
		flex-direction: row;
	}

	nav ul li {
		border-bottom: 0;
		border-right: .1rem solid white;
	}

	nav ul li:last-child {border-right: 0;}
}

.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }