/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	background-color: #f8f8f7;
	height: 100vh;
	font-family: arial;
}

header {
	background-color: black;
	color: white;
	padding: 1rem 0;
}

header nav {
	display: none;
}

header h1 {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 900;
}

@media (min-width: 800px) {
	header nav {
		display: block;
		border-top: .1rem solid #5e5e5e;
		padding-top: 1rem;
		text-align: center;
	}

	header h1 {
		margin-bottom: 1rem;
	}

	nav ul li a {
		text-decoration: none;
		color: #5e5e5e;
		text-transform: uppercase;
		margin-right: 1rem;
	}

	nav ul li:last-child a {
		margin-right: 0;
	}

	nav ul li {
		display: inline;
	}

	.geselecteerd, nav ul li a:hover {
		color: white;
	}
}

@media (min-width: 1200px) {
	header {
		padding: 2rem;
	}

	header h1 {
		text-align: left;
		margin-bottom: 0;
	}

	header nav {
		border-top: 0;
		padding-top: 0;
		text-align: right;
		position: absolute;
		top: 2.4rem;
		right: 2rem;
	}

}
.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }