:root {
    font-size: 62.5%; /* 1rem == 10px */
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  ul {
    width: 40vw;
    height: 70vh;
    background-color: blue;
    margin: 15vh auto;

    display: grid;
    gap: 10vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  li {
    background-color: aliceblue;
  }
  li:nth-child(1) {
    grid-column: 1/3;
    background-color: darkcyan;
  }
  li:nth-child(2) {
    grid-column: 3/4;
    background-color: burlywood;
  }
  li:nth-child(3) {
    grid-column: 1/2;
    background-color: goldenrod
;
  }
  li:nth-child(4) {
    grid-column: 3/4;
    background-color: violet;
  }
  li:nth-child(5) {
    grid-column: 1/3;
    background-color: khaki;
  }
  li:nth-child(6) {
    grid-column: 3/4;
    background-color: red;
  }