/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"a . . ."
		". b . ."
		". . c ."
		". . . d";

}

div:nth-child(1) {
	background-color: red;
	grid-area: a;
}
div:nth-child(2) {
	background-color: blue;
	grid-area: b;
}
div:nth-child(3) {
	background-color: green;
	grid-area: c;
}
div:nth-child(4) {
	background-color: plum;
	grid-area: d;
}


