:root {
  font-size: 62.5%;
  /* 1rem == 10px */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div {
  background-color: yellow;
  height: 50vh;
  width: 50vw;
  translate: 100px 200px;
  translate: 50% 105px;
}

@keyframes mijnanimatie {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {}

  transform: scale(1);
}