/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	background-color: salmon;
}
ul {
	height: 80vh;
	margin: 10vh 20vh;
	background-color: blue;

	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"a  a  b"
		"c  .  d"
		"e  e  f";

}

li:nth-child(1) {
	background-color: green;
	grid-area: a;
}
li:nth-child(2) {
	background-color: burlywood;
	grid-area: b;
}
li:nth-child(3) {
	background-color: yellow;
	grid-area: c;
}
li:nth-child(4) {
	background-color: darkblue;
	grid-area: d;
}
li:nth-child(5) {
	background-color: yellowgreen;
	grid-area: e;
}
li:nth-child(6) {
	background-color: red;
	grid-area: f;
}
