:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  display: block;
  width: 10vw;
  height: 100vh;
  background-color: brown;
  box-shadow: 
    10vw 0 0 red, 
    20vw 0 0 blue, 
    30vw 0 0 green,
    40vw 0 0 plum,
    50vw 0 0 goldenrod,
    60vw 0 0 cornsilk,
    70vw 0 0 tomato,
    80vw 0 0 palegreen,
    90vw 0 0 teal
}
