header, main, footer {
	height: 32vh;
	width: 50vw;
}


header {
	background-color: yellow;
	margin-bottom: 2vh;
}

main {
	background-color: red;
	margin-bottom: 2vh;
	margin-left: 50vw;
}

footer {
	background-color: blue;
}