/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

:root {
	font-size: 62.5%;} 

body {
	font-size: 1.85rem;
	font-family: Helvetica, sans-serif;}

.cal {
	border-collapse: collapse; /* or separate */
	table-layout: fixed; /* or auto */
	width: 100%;
	max-width: 80vw;
	margin-left: 10vw;
	height: 70vh;
	margin-top: 10vh;
	text-align: center;
	color: #000;}

.cal caption {
	color: #ff3c34;
	text-align: left;
	border-bottom: 1px solid #000;
	height: 10vh;
	font-size: 3rem;}

.cal-weekend {
	background-color: #fae9e8;}

.cal th, .cal td {
	line-height: 5rem;
	padding: 0;
	width: 14.285%;}

.cal td {
	border: 1px solid #d8d8d8;}

.cal thead {
	border-bottom: 3px solid #000;}

.cal a {
	display: block;
	height: 100%;
	padding-top: 2.5vh;
	text-decoration: none;
	color: #2f273c;}

.cal a:hover,.cal a:focus {
	background-color: #d0eefd;}

.cal-inactive {
	background-color: #f7f7f7;
	color: #aaa;
	cursor: not-allowed;}

.cal-current {
	background-color: #ff3c34;
	color: #fff;}

.cal-current a {
	color: #fff;}
	.subnav-content{
		text-align: center;
		margin-top: 20rem;
	}

	
	.navbar {
		overflow: hidden;
		background-color: #333; 
	  }
	  .navbar:hover{
		  background-color: red;
		  display: block;
	  }
	.navbar a {
		float: left;
		margin-left: 47%;
		font-size: 2rem;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }