/* Gebruikte kleuren:
horizontaal-variatie-1: red, orange, pink, yellow
horizontaal-variatie-2: orange, yellow, cyan, #009ae5
verticaal-links-buiten: red, pink, yellow, #009ae5, cyan, #ff92aa, orange, cyan, red, pink
verticaal-rechts-buiten: pink, #ff92aa, cyan, orange, #009ae5, red, pink, yellow, #009ae5, red
voor de rest: white en black :-)

*/


.verticaal-links-buiten, .verticaal-links-binnen, .verticaal-midden-kleur-1, .verticaal-midden-kleur-2, .verticaal-midden-kleur-3, .verticaal-midden-kleur-4, .verticaal-midden-kleur-5, .verticaal-midden-kleur-6, .verticaal-rechts-binnen, .verticaal-rechts-buiten {display: none}

body {
  font-family: helvetica;
  font-weight: 600;
  text-transform: uppercase;
  height: 100vh;
  display: grid;}

.een, .twee, .drie, .vier, .vijf {
  text-align: center;
  padding: 2vh;
  font-size: 16vh;}

.een, .drie, .vijf {
  color: black;
  background-color: white;}

.twee, .vier {
  color: white;
  background-color: black;}


@media (min-width: 800px) {
  .verticaal-midden-kleur-1, .verticaal-midden-kleur-2, .verticaal-midden-kleur-3, .verticaal-midden-kleur-4, .verticaal-midden-kleur-5, .verticaal-midden-kleur-6 {
    display: block;
    height: 5vh;}

  .een, .twee, .drie, .vier, .vijf {
    height: 14vh;
    font-size: 11vh;}

  .verticaal-midden-kleur-1, .verticaal-midden-kleur-3, .verticaal-midden-kleur-5 {
    background-image: linear-gradient(90deg,red 25%, orange 25%, orange 50%, pink 50%, pink 75%, yellow 75%)}
  .verticaal-midden-kleur-2, .verticaal-midden-kleur-4, .verticaal-midden-kleur-6 {
    background-image: linear-gradient(90deg,orange 25%, yellow 25%, yellow 50%, cyan 50%, cyan 75%, #009ae5 75%)}

}

@media (min-width: 1000px) {
  body {
    grid-template-columns: 1fr 1fr 18fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
  }

  .verticaal-midden-kleur-1, .verticaal-midden-kleur-2, .verticaal-midden-kleur-3, .verticaal-midden-kleur-4, .verticaal-midden-kleur-5, .verticaal-midden-kleur-6, .een, .twee, .drie, .vier, .vijf {
    grid-column: 3;
  }

  .verticaal-links-buiten, .verticaal-links-binnen, .verticaal-rechts-binnen, .verticaal-rechts-buiten {
    display: block;
    grid-column: 1;
    grid-row: 1/12;
  }

  .verticaal-links-binnen {grid-column: 2;}
  .verticaal-rechts-binnen {grid-column: 4;}
  .verticaal-rechts-buiten {grid-column: 5;}

  .verticaal-links-buiten, .verticaal-rechts-buiten {
    background-color: limegreen;
  }

  .verticaal-links-binnen, .verticaal-rechts-binnen {
    background-image: repeating-linear-gradient(0deg, black 0%, black 20%, white 20%, white 40%);
  }

  .verticaal-links-buiten {
    background-image: linear-gradient(0deg, red 0%, red 10%, pink 10%, pink 20%, yellow 20%, yellow 30%, #009ae5 30%, #009ae5 40%, cyan 40%, cyan 50%, #ff92aa 50%, #ff92aa 60%, orange 60%, orange 70%, cyan 70%, cyan 80%, red 80%, red 90%, pink 90%);
  }

  .verticaal-rechts-buiten {
    background-image: linear-gradient(0deg, pink 0%, pink 10%, #ff92aa 10%, #ff92aa 20%, cyan 20%, cyan 30%, orange 30%, orange 40%, #009ae5 40%, #009ae5 50%, red 50%, red 60%, pink 60%, pink 70%, yellow 70%, yellow 80%, #009ae5 80%, #009ae5 90%, red 90%);
  }


}


.subnav-content{
  text-align: center;
  margin-top: 20rem;
}
.navbar {
  overflow: hidden;
  background-color: #333; 
}
.navbar:hover{
    background-color: red;
    display: block;
}
.navbar a {
  float: left;
  margin-left: 47%;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}