/* https://www.camillewalala.com/architectureinteriors/2019/1/15/facebook-office-lobby */
body {
      display: grid;
      grid-template-columns: 18vh 4fr 1fr 10fr;
      height: 100vh;}

div:nth-child(1) {
      background-color: #fcf3e6;
      display: grid;
      grid-auto-rows: 10fr 3fr 8fr;}

p:nth-child(1) {background-color: #fbf4e4;position: relative;}
p:nth-child(2) {background: repeating-linear-gradient(180deg, #072ea6, #072ea6 3.6rem, #f3e7d0 3.6rem, #f3e7d0 7.7rem);}
p:nth-child(3) {background: repeating-linear-gradient(135deg, #fec502, #fec502 10rem, #f3e3ca 10rem, #f3e3ca 20rem);}
div:nth-child(2) {background: repeating-linear-gradient(135deg, #fd3b34, #fd3b34 11rem, #1644cf 11rem, #1644cf 22rem);}
div:nth-child(3) {background: repeating-linear-gradient(180deg, #000, #000 6rem, #fffdf1 6rem, #fffdf1 11rem);}
div:nth-child(4) {background: repeating-linear-gradient(135deg, #fffdf6, #fffdf6 5rem, #3660eb 5rem, #3660eb 11rem);}

em {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #322e22;}

/* beste studenten, wij hebben het hier met een clip-path opgelost. Jullie hebben het wellicht met een transform(rotate) en position:absolute opgelost. Kan allebei. En kon ook met een - toegegeven: zeer complexe - gradient worden opgelost. In dat geval mochten de em-elementjes worden genegeerd */

em:nth-child(1) {clip-path: polygon(4vh 4.5vh, 7.75vh 0vh, 11vh 0vh, 6vh 6vh);}
em:nth-child(2) {clip-path: polygon(9vh 9vh, 18vh 9vh, 18vh 11.5vh, 9vh 11.5vh);}
em:nth-child(3) {clip-path: polygon(2vh 12.5vh, 4vh 11vh, 9.5vh 18vh, 7.5vh 19.5vh);}
em:nth-child(4) {clip-path: polygon(10vh 25vh, 18vh 20vh, 19.1vh 22vh, 11.2vh 27vh);}
em:nth-child(5) {clip-path: polygon(3vh 28vh, 5vh 27vh, 9.5vh 36vh, 7.5vh 37vh);}
em:nth-child(6) {clip-path: polygon(3vh 45vh, 13vh 41vh, 14vh 43.2vh, 4vh 47vh);}


.subnav-content{
      text-align: center;
      margin-top: 20rem;
  }
  .navbar {
      overflow: hidden;
      background-color: #333; 
    }
    .navbar:hover{
        background-color: red;
        display: block;
    }
  .navbar a {
      float: left;
      margin-left: 47%;
      font-size: 2rem;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }