/* Gebruikte kleuren:
#2da77c: groenblauw - gebruikt voor border boven header
#289496: blauw - gebruikt voor border onder header
#e7a618: oranje - gebruikt voor border boven footer
#6fa453: groen (menu, links, grid)
#1d82ae: blauw (menu, links, grid)
#ce511b: rood (menu, links, grid)
#da7e19: oranje (menu, links, grid)
*/
body {
  font-size: 1rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
header {
  border-top: 1vh solid green;
  padding: 1rem 1rem;
}
header h1 a img {
  max-width: 15vw;
  padding: 1rem 0;
}
header h4 {
  display: none;
}
header nav {
  padding-top: 1vh;
}
header nav ul li {
  display: inline-block;
  padding-right: 2vw;
}
header nav ul li a {
  text-decoration: none;
  font-weight: 600;
}
header nav ul li:nth-child(1) a {
  color: cornflowerblue;
}
header nav ul li:nth-child(2) a {
  color: red;
}
header nav ul li:nth-child(3) a {
  color: green;
}
header nav ul li:nth-child(4) a {
  color: orange;
}
header nav ul li:nth-child(5) a {
  color: cornflowerblue;
}
header nav ul li:nth-child(6) a {
  color: green;
}

main {
  border-top: 1vh solid teal;
  padding: 1rem 1rem 2rem 1rem;
}
main h2 {
  font-weight: 600;
  padding: 3vh 0;
}
div article {
  background-color: blanchedalmond;
  padding: 1rem;
  margin-bottom: 1rem;
}
div article h3 {
  font-weight: 600;
  padding: 0.5rem 0;
}
.datum {
  color: green;
  padding-bottom:1rem;
}
article div {
  height: 30vh;
  background-color: mediumseagreen;
  margin-bottom: 1rem;
}
article p a {
  color: cornflowerblue;
}
main p a {
  color: green;
}
a.andere_a {
  color: brown;
}

footer {
  border-top: 1vh solid goldenrod;
  padding: 1rem;
}

@media (min-width: 650px) {
  header,
  main,
  footer {
    padding: 3vh 10vw 3vh 10vw;
    font-size: 1.5rem;
  }
}

@media (min-width: 1050px) {
  header,
  main,
  footer {
    padding: 3vh;
    font-size: 2rem;
  }
  header h4 {
    display:block;
    position: absolute;
    top: 6vh;
    right: 1vw;
    text-align: end;
  }

  .buurtnieuws,
  .agenda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
  }

  .grid.een {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.een > p {
    background-color: cornflowerblue;
  }
  .grid.twee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.twee > p {
    background-color: cornflowerblue;
    grid-column: 2/3;
  }
  .grid.drie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.drie > p {
    background-color: cornflowerblue;
    grid-column: 3/4;
  }
  .grid.vier {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.vier > p {
    background-color: cornflowerblue;
    grid-row: 3/4;
  }
  .grid.vijf {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.vijf > p {
    background-color: cornflowerblue;
    grid-row: 2/3;
  }
  .grid.zes {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  .grid.zes > p {
    background-color: cornflowerblue;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  header,
  main,
  footer {
    padding: 4vh;
    font-size: 2rem;
  }
  header h4 {
    top: 6vh;
    right: 3vw;
  }
  article .grid {
    background-color: orangered;
  }
  .grid.een > p {
    background-color: orange;
  }
  .grid.twee > p {
    background-color: orange;
  }
  .grid.drie > p {
    background-color: orange;
  }
  .grid.vier > p {
    background-color: orange;
  }
  .grid.vijf > p {
    background-color: orange;
  }
  .grid.zes > p {
    background-color: orange;
  }

}
