/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 100vh;
}

div:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	background-color: #1446a0;
}

div:nth-child(2) {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: #db3069;
}

div:nth-child(3) {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	background-color: #f5d547;
}

div:nth-child(4) {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
	background-color: #ebebd3;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }