/* gebruikte kleuren

#2196f3
#ffeb3b
#3775aa (voor de links "volledig cursusoverzicht" en "volledig nieuwsoverzicht")

*/

body {
  font-family: helvetica, sans-serif;
  font-size: 1.65rem;
  font-weight: 100;
  padding: 1rem;
}

nav ul li:before {
  content: "//";
  padding-right: 1rem;
}

header h1 {
  font-weight: bold;
  padding-bottom: 3rem;
}
header h1 img {
  max-width: 50px;
  position: relative;
  top: 1.5rem;
  padding-right: 1rem;
}
header nav {
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
}

main {
  padding-top: 2rem;
}
main > div {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}
main div h2 {
  font-weight: 600;
  padding-bottom: 1rem;
}
main div article {
  background-color: gold;
  margin-bottom: 1rem;
  padding: 1rem;
}
main div article h3 {
  padding-bottom: 5rem;
  font-weight: 600;
}
main div article p {
  line-height: 2;
}
.nieuws article {
  background-color: skyblue;
}
.nieuws article p a {
  color: aliceblue;
}

.over div p{
  padding-bottom: 1rem;
}

.figuur {
  height: 50vh;
  background-image: url(./pylogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.een {

}
.twee {
  
}
.drie {
  
}
.vier {
  
}
.vijf {
  
}
.zes {
  
}
.zeven {
  
}
.acht {
  
}

@media (min-width: 950px) {
  .cursus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .cursus h2 {
    grid-column: 1/4;
    
  }
  .nieuws {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .nieuws h2 {
    grid-column: 1/4;
  }
  .over {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .over h2 {
    grid-column: 1/4;
  }
  .figuur {
    height: auto;
    position: relative;
    bottom: 2rem;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 1rem 15rem;
  }

}