/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	background-color: white;
}

main {
	background-color: #ec4b03;
	width: 90vh;
	height: 90vh;
	margin: 5vh auto;
	border: .75rem solid black;
}

div {
	width: 70%;
	height: 70%;
	background-color: white;
	margin: 15%;
	border-radius: 50%;
	background-color: #b99ec1;
	border: .75rem solid black;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 12vh;
	padding-top: 40%;
	font-weight: 900;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: #f9b700;
	width: 90%;
	height: 90%;
	border: .75rem solid black;
	margin-left: -7%;
	margin-top: -7%;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }