body > ul {
      width: 90vh;
      height: 90vh;
      border: 2vh solid black;
      margin: 4vh auto;
      display: grid;
      grid-template-columns: 1fr 1fr 2.6fr 6fr;
      grid-gap: 2vh;
      background-color: black;}

body > ul > li:nth-child(1) {background: repeating-linear-gradient(180deg, #ec5449, #ec5449 5.2vh, #000 5.3vh, #000 7.3vh);}
body > ul > li:nth-child(2) {background-color: #f6f1ea;
background: repeating-linear-gradient(135deg, #f6f1ea, #f6f1ea 4vh, #000 4vh, #000 6vh);}

ul ul {
      height: 100%;
      display: grid;
      grid-template-columns: 2.2fr 1fr 3.3fr;
      grid-template-rows: 2fr 1.5fr 4fr 3.5fr;
      grid-gap: 2vh;}

li:nth-child(3) {background-color: #f5e94d;}
li ul li:nth-child(1) {background-color: #79a7a4;grid-column: 1 / 4;}

li ul li:nth-child(2) {
      background-color: #daafa7;
      grid-column: 1 / 4;
      position: relative;}

li ul li:nth-child(3) {
      background-color: #f6f1ea;
      background: repeating-linear-gradient(90deg, transparent, transparent 6vh, #000 6vh, #000 8vh),
      repeating-linear-gradient(180deg, #f6f1ea, #f6f1ea 6vh, #000 6vh, #000 8vh);
      grid-column: 1 / 3;}

li ul li:nth-child(4) {background-color: #ec5449;grid-column: 3 / 4;}
li ul li:nth-child(5) {background-color: #79a7a4;grid-column: 1 / 2;}
li ul li:nth-child(6) {background-color: #3e5b8d;grid-column: 2 / 4;}
p {background-color: black;height: 100%;width: 100%;position: absolute; top: 0; left: 0;}

p:nth-child(1) {clip-path: polygon(1vh 6vh, 4vh 3vh, 5.5vh 4.5vh, 2.4vh 7.5vh);}
p:nth-child(2) {clip-path: polygon(10vh 2vh, 14vh 3vh, 13.5vh 5vh, 9.5vh 4vh);}
p:nth-child(3) {clip-path: polygon(5.8vh 8.8vh, 9.9vh 7vh, 10.9vh 8.9vh, 6.8vh 10.75vh);}
p:nth-child(4) {clip-path: polygon(17vh 6vh, 20vh 3vh, 21.5vh 4.5vh, 18.4vh 7.5vh);}
p:nth-child(5) {clip-path: polygon(26vh 2vh, 30vh 3vh, 29.5vh 5vh, 25.5vh 4vh);}
p:nth-child(6) {clip-path: polygon(21.8vh 8.8vh, 25.9vh 7vh, 26.9vh 8.9vh, 22.8vh 10.75vh);}
p:nth-child(7) {clip-path: polygon(33vh 6vh, 36vh 3vh, 37.5vh 4.5vh, 34.4vh 7.5vh);}
p:nth-child(8) {clip-path: polygon(41vh 2vh, 45vh 3vh, 44.5vh 5vh, 40.5vh 4vh);}
p:nth-child(9) {clip-path: polygon(37.8vh 8.8vh, 41.9vh 7vh, 42.9vh 8.9vh, 38.8vh 10.75vh);}

.subnav-content{
      text-align: center;
      margin-top: 20rem;
  }
  .navbar {
      overflow: hidden;
      background-color: #333; 
    }
    .navbar:hover{
        background-color: red;
        display: block;
    }
  .navbar a {
      float: left;
      margin-left: 47%;
      font-size: 2rem;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }