:root {
    font-size: 62.5%; /* => 1rem == 10px */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: salmon;
}
h1 {
    background-color: gold;
    font-size: 2rem;
    width: 14rem;

    margin: 3rem 0 0 3rem;
    padding: 1rem 2rem 1rem 2rem;

    border: solid;

    box-shadow: -0.5rem 1rem 0 black;

}

h2 {
    background-color: white;
    font-size: 4rem;
    font-weight: bold;
    width: 33rem;

    margin: 0 3rem;
    padding: 3rem 2rem 3rem 2rem;
    border: solid;

    box-shadow: -0.5rem 1rem 0 black;
}

