:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
  background-color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 80vh;
  background-color: #ede2d9;
  display: grid;
  grid-template-areas: 
    "A"
    "B"
    "C"
    "D"
    "E"
    "F"
    "G"
    "H"
    "I"
    "J"
    "K"
    "L"
    "M"
    "N"
    "O"
    "P"
    "Q"
    "R"; 
  gap: .2rem;
}

div:nth-child(1) {
  background-color: #f56f50;
  grid-area: A;
}
div:nth-child(2) {
  background-color: #035d7f;
  grid-area: B;
}
div:nth-child(3) {
  background-color: #694c45;
  grid-area: C;
}
div:nth-child(4) {
  background-color: #364445;
  grid-area: D;
}
div:nth-child(5) {
  background-color: #146e5b;
  grid-area: E;
}
div:nth-child(6) {
  background-color: #fdcd33;
  grid-area: F;
}
div:nth-child(7) {
  background-color: #f56f50;
  grid-area: G;
}
div:nth-child(8) {
  background-color: #018c47;
  grid-area: H;
}
div:nth-child(9) {
  background-color: #d52831;
  grid-area: I;
}
div:nth-child(10) {
  background-color: #d52831;
  grid-area: J;
}
div:nth-child(11) {
  background-color: #018c47;
  grid-area: K;
}
div:nth-child(12) {
  background-color: #f56f50;
  grid-area: L;
}
div:nth-child(13) {
  background-color: #fdcd33;
  grid-area: M;
}
div:nth-child(14) {
  background-color: #146e5b;
  grid-area: N;
}
div:nth-child(15) {
  background-color: #364445;
  grid-area: O;
}
div:nth-child(16) {
  background-color: #694c45;
  grid-area: P;
}
div:nth-child(17) {
  background-color: #035d7f;
  grid-area: Q;
}
div:nth-child(18) {
  background-color: #f56f50;
  grid-area: R;
}

@media (min-width: 1000px) {
  body {
    margin: 10vh 15vh;
    grid-template-areas: 
      "A A A A A A A A A B"
      "C C C C C C C C D D"
      "E E E E E E E F F F"
      "G G G G G G H H H H"
      "I I I I I J J J J J"
      "K K K K L L L L L L"
      "M M M N N N N N N N"
      "O O P P P P P P P P"
      "Q R R R R R R R R R";
  }
}
@media (min-width: 1200px) {
  body {
    margin: 10vh 15vh;
    grid-template-areas: 
      "A B C D E F G H I K K"
      "A B C D E F G H I J J"
      "A B C D E F G L L L L"
      "A B C D E F M M M M M"
      "A B C D E N N N N N N"
      "A B C D O O O O O O O"
      "A B C P P P P P P P P"
      "A B Q Q Q Q Q Q Q Q Q"
      "A R R R R R R R R R R";
  }
  div:nth-child(11) {
    background-color: burlywood;
    grid-area: K;
  }
}