/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

/* Een gewone pagina vormgeven voor mobiel, met een max-width bij uitrekken + afbeelding + blogpost look and feel */

/* Montserrat - Lora - Hind Madurai */

body {
	color: #cccccc;
	background-color: #222222;
	border: 1px solid white;
	max-width: 60rem;
	margin: 4rem auto;
	font-size: 3rem;
	padding: 1rem;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 2.3rem;
	line-height: 4.1rem;
}

h2 {
	font-family: 'Lora', serif;
	max-width: 40rem;
	margin-bottom: 2.3rem;
	line-height: 3.4rem;
	font-size: 2.3rem;
	border: 1px solid white;
}

p {
	font-family: 'Hind Madurai', sans-serif;
	border: 1px solid white;
	font-size: 1.2rem;
	font-weight: 300;
	max-width: 35rem;
	margin-bottom: 2.3rem;
	line-height: 2.3rem;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }