/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* gebruikte kleur voor de schaduw van de cirkel: #9fd9c5 */
/* gebruikte kleur voor tekst en logo: black */
body {
  font-family: "Changa", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  height: 100vh;
}

header {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "h01  .  nav nav nav"
    "h02 h02 h02 h02 h02"
    "div div div div div";
  gap: 1rem;
}
header h1 {
  grid-area: h01;

  position:absolute;

  border: 1px solid black;
  border-radius: 50%;
  margin: 3rem 0rem;
  padding: 1rem;
}
header h2 {
  grid-area: h02;
  text-align: center;
  padding: 4rem 0;

  font-size: 3rem;
  font-weight: 400;
}
header nav {
  grid-area: nav;

  position: relative;
  top: 40px;
}
header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header nav ul li {
  display: inline-block;
  padding: 0.1rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
header nav ul li a:hover {
  color: palevioletred;
}
header div {
  grid-area: div;

  display: grid;
  gap: 1rem;
}

main .article_een {
  height: 30vh;
}
main .article_twee {
  height: 30vh;
}
main .article_twee p {
  display: none;
}
main .article_drie {
  height: 30vh;
}
main article:nth-child(1) {
  background-color: #ca9fd2;
}
main article:nth-child(1) p {
  background-color: #fdc930;
}
main article:nth-child(2) {
  background-color: #fa6148;
}
main article:nth-child(2) p {
  background-color: #2155bf;
  color: white;
}
main article:nth-child(3) {
  background-color: #fdc930;
}
main article:nth-child(3) h3 {
  background-color: #21a16b;
}

footer {
  text-align: center;
  padding-top: 1rem;
}

@media (min-width: 700px) {
  header {
    padding: 2rem 5rem;
  }
  header div {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media (min-width: 1300px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "head main"
      "head main"
      "foot main";
  }
  header {
    grid-area: head;
  }
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  main .article_een {
    grid-column: 1/3;
    display: grid;
    grid-template-areas:
      "een een een"
      "twe dri vie"
      "vij vij vij";
    gap: 1rem;
    padding: 1rem;
    height: 100%;
  }
  .een {
    grid-area: een;
  }
  .twee {
    grid-area: twe;
  }
  .drie {
    grid-area: dri;
  }
  .vier {
    grid-area: vie;
  }
  .vijf {
    grid-area: vij;
  }
  main .article_twee {
    height: 100%;
    display: grid;
    gap: 1rem;
    padding: 1rem;
  }
  main .article_twee p {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }
  main .article_drie {
    height: 100%;
    background-image: url(./img/xerox-code.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  main .article_drie h3 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    position: absolute;
    right: 5%;
    top: 5%;
    
    box-shadow: -60px 0px  lightgreen;
  }

  footer {
    grid-area: foot;
  }
}
