/* Gebruikte kleuren:
#2da77c: groenblauw - gebruikt voor border boven header
#289496: blauw - gebruikt voor border onder header
#e7a618: oranje - gebruikt voor border boven footer
#6fa453: groen (menu, links, grid)
#1d82ae: blauw (menu, links, grid)
#ce511b: rood (menu, links, grid)
#da7e19: oranje (menu, links, grid)
*/

body {
  font-size: 1.4rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  width: 100%;
}
header h1 a img {
  padding-top: 1rem;
  width: 12vw;
}
header {
  padding: 1rem;
  border-top: 1rem solid yellowgreen;
}
header h4 {
  display: none;
}
header nav {
  position: relative;
  left: 2%;
}
header nav ul li {
  display: inline-block;
  margin: 2% 1%;
}
header nav ul li a{
  text-decoration: none;
}
header nav ul li:nth-child(1) a {
  color: blue;
}
header nav ul li:nth-child(2) a {
  color: salmon;
}
header nav ul li:nth-child(3) a {
  color: green;
}
header nav ul li:nth-child(4) a {
  color: orange;
}
header nav ul li:nth-child(5) a {
  color: blue;
}
header nav ul li:nth-child(6) a {
  color: green;
}

main {
  border-top: 1rem solid teal;
  padding: 2rem;
}
main h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 3rem 0 2rem 0;
}
main p {
  line-height: 1.7;
}
main p a {
  color: darkgreen;
}

main .buurtnieuws {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}
main .agenda {
  display:grid;
  gap: 1rem;
}

.buurtnieuws article {
  background-color: bisque;
  padding: 1rem;
}
.agenda article {
  background-color: bisque;
  padding: 1rem;
}

article h3 {
  font-weight: 600;
  padding-top: 1rem;
}
article p.datum{
  color: green;
  padding-bottom: 1rem;
}
div article p {
  padding-top: 1rem;
}
article > p:nth-child(4) {
  line-height: 1.7;
}
article > p a {
  color: green;
}
div.grid {
  width: 100%;
  height: 200px;
  margin: auto;
  background-color: green;
}

main>p:last-child {
  padding: 2rem 0;
}

footer {
  border-top: 1rem solid burlywood;
  padding-top: 1.5rem;
  margin: 0 1rem;
}
footer p{
  line-height: 1.7;
}
@media (min-width:650px) {
  header {
    padding: 3rem 9rem;
  }
  header nav {
  left: 0%;
  }
  header nav ul li {
    margin: 2% 0%;
    margin-right: 5%;
  }
  main {
    padding: 3rem 9rem;
  }
  footer {
    padding: 5rem 9rem 1rem 9rem;
  }
}

@media (min-width:1050px) {
  header {
    padding: 3rem 3rem 1rem 3rem;
  }
  header nav ul li {
    margin-right: 2%;
  }
  main {
    padding: 2rem 3rem 1rem 3rem;
  }
  footer {
    padding: 2rem 3rem 1rem 3rem;
  }
  main .buurtnieuws {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main .agenda {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid p {
    background-color: blue;
  }
  .grid.een {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid.een p {
    grid-column: 1/2;
  }
  .grid.twee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid.twee p {
    grid-column: 2/3;
  }
  .grid.drie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid.drie p {
    grid-column: 3/4;
  }

  .grid.vier {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid.vier p {
    grid-row: 3/4;

  }
  .grid.vijf {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid.vijf p {
    grid-row: 2/3;

  }
  .grid.zes {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid.zes p {
    grid-row: 1/2;

  }
  header h4 {
    display: block;
    position: absolute;
    right: 1%;
    top: 4%;
    text-align: right;
  }
}

@media(min-width: 1200px) {
  div.grid {
    background-color: orangered;
  }
  .grid p {
    background-color: orange
  }
  main>p:last-child a{
    color: orangered;
  }
}
