@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "aside"
  "footer";
}

header,
aside,
footer {
  padding: 1rem;
}

header {
  background-color: #3ab397;
  font-size: 3rem;
  grid-area: header;
}

aside {
  background-color: #95d5cf;
  grid-area: aside;
}

main {
  margin: 1em 0;
  grid-area: main;
}

article {
  border: solid 1px #247e9d;
  text-align: center;
}

footer {
  background-color: #247e9d;
  grid-area: footer;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main article:nth-child(3) {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    grid-template-areas: 
    "header header header header"
    "  .    aside  main      . "
    "footer footer footer footer ";
    grid-template-rows: 1fr 7fr 1fr;
  }
  main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main article {
    padding-top: 35%;
  }
  main article:nth-child(3) {
    grid-column: auto;
    padding-top: 60%;
  }

}
