body {
    background-color: antiquewhite;
}
ul {
    height: 100px;

    display: grid;

    grid-template-columns: 1fr 1fr 10px 1fr;

    grid-template-rows: 1fr 1fr 10px;
    gap: 1rem;
    margin: 1rem;
}
li {

    background-color: brown;
}

li:nth-child(3) {
    background-color: pink;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

@media (min-width: 400px) {
    body {
        background-color: pink;
    }
    ul {
        grid-template-columns: .5fr 1fr 10px 1fr;
    }
    li:nth-child(3) {
        background-color: white;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
}