/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

ul {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 5vw;
	height: 100vh;
	padding: 5vw;
}

li {
	background-color: darkturquoise;
	color: white;
	font-family: arial;
	font-size: 5vw;
	text-align: center;
	padding-top: 40vh;
	font-weight: 900;
}

li:nth-child(2) {background-color: darkviolet;}
li:nth-child(3) {background-color:deepskyblue;}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }