:root {
	font-size: 130%;
}

body {
	background-color: #ee6b50;
	font-family: helvetica, sans-serif;
}

main {
	background-color: white;
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	padding: 1rem 2rem; /* top and bottom: 1rem, right and left: 2rem */
	border: 1px solid black;
}

p {
	font-size: 1.3rem;
}

a {
	color: #ee6d50;
}