/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	background-color: #ff816f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	padding: 5rem;
}

h1 {
	background-color: #ffd500;
	border: 0.2rem solid black;
	border-bottom: 0;
	padding: 1rem 2rem;
	width: 15rem;
	box-shadow: -.5rem .5rem black;
}

h2 {
	background-color: white;
	border: 0.2rem solid black;
	width: 35rem;
	font-weight: 900;
	padding: 3rem 2rem;
	font-size: 4rem;
	box-shadow: .5rem .5rem black, -.5rem .5rem black;
}

