/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	background-color: #ff816f;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	padding: 5rem;
}

h1 {
	background-color: #ffd500;
	border: 0.2rem solid black;
	border-bottom: 0;
	padding: 1rem 2rem;
	width: 15rem;
	box-shadow: -.5rem .5rem black;
}

h2 {
	background-color: white;
	border: 0.2rem solid black;
	width: 35rem;
	font-weight: 900;
	padding: 3rem 2rem;
	font-size: 4rem;
	box-shadow: .5rem .5rem black, -.5rem .5rem black;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }