body {
	background-color: orange;
	font-family: helvetica, sans-serif;
}

h1, ol {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3rem;
	padding: 2rem;
	width: 16rem;
}

h1 {
	font-weight: 400;
	text-align: center;
}

ol {
	list-style-type: decimal;
}

ol li {
	text-align: center;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }