:root {
  font-size: 62.5%;
  /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  height: 100vh;
  background-color: pink;
}

header {
  height: 10%;
  background-color: brown;
}
header div {
  height: 6vh;
  width: 6vw;
  margin: 2vh;
  background-color: slateblue;
  display: inline-block;
  position: absolute;
  right: 0;
}

nav {
  background-color: limegreen;
  height: 0%;
}
p {
  display: none;
}