:root {
    font-size: 62.5%; /* 1rem == 10px */
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  
  @keyframes animatie {
    0%, 100% {
      background-color: red;
      clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%,);
    }
  }