/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	background-color: #efeee8;
}

ul {
	padding: 4rem 0; 
	height: 100vh;
	width: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5rem;
}

ul li {
	background-color: #ff453a;
	animation-name: animatie;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

ul li:nth-child(2), ul li:nth-child(4), ul li:nth-child(6), ul li:nth-child(8) {
	animation-delay: 5s;
} 


@keyframes animatie {
	0%, 100% {
		background-color: #ff453a;
		clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
	}
	25% {
		background-color: #fdd70a;
		clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0% 100%, 50% 50%);
	}
	50% {
		background-color: #31d158;
		clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
	}
	75% {
		background-color: #40c8e0;
		clip-path: polygon(0% 50%, 50% 0%, 100% 0%, 50% 50%, 100% 100%, 50% 100%, 0% 50%, 0% 50%);
	}
	
}
.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }