body {
	background-color: orange;
	font-family: helvetica, sans-serif;
}

h1, ol {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.3rem;
	padding: 2rem;
	width: 16rem;
}

h1 {
	font-weight: 400;
	text-align: center;
}

ol {
	list-style-type: decimal;
}

ol li {
	text-align: center;
}