/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */
ul {
	padding: 2rem;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 2rem;
}
li{
	padding-top: 45vh;
	color: aliceblue;
	font-size: 3rem;
	text-align: center;
	
	background-color: darkturquoise;
}
li:nth-child(2) {
	background-color: darkviolet;
}
li:nth-child(3) {
	background-color: deepskyblue;
}