@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: lightgrey;
  font-size: 3rem;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
main article {
  background-color: skyblue;
  
  flex: 1;
}
main aside {
  background-color: gold;
}
footer {
  background-color: lightgrey;
  position: sticky;
  bottom: 0;
}

@media (min-width: 700px) {
  main {
    width: 80%;
    margin: 0 auto;
    
    flex-direction: row;
  }
  .sidebar1 {
    order: -1;
  }
  aside {
    flex: 0 0 20%;
  }
}

.flex-container-box {
  /* FLEX BOX / -CONTAINER */
  flex-direction: column; /* column-reverse | row | row-reverse */
  flex-wrap: nowrap; /* wrap (new line) | wrap-reverse */
  flex-flow: column nowrap; /* => shortcut */

  justify-content: baseline; /* flex-start | flex-end | space-around | space-between | spece-evenly | .. */
  /* |-> uses MAIN axis (=> as defined by flex-direction) */

  align-items: baseline; /* center | flex-start | flex-end | stretch | space-between | space-around  */
  /* |-> uses CROSS axis (=> as defined by flex-direction) */

  align-content: center; /* flex-start | flex-end | stretch | space-between | space-around */
  /* |-> when flex-wrap: wrap(-reverse) then u can align items as a unit */

  order: 1; /* pushes first item to the end */

  /* handles available space in the container */
  flex-grow: 1; /* fills available space on the main axis (if applied on siblings,*/
  flex-shrink: 2; /* ye.. */
  flex-basis: 300px; /* defines the (ideal) total space for the items to work with (overriding their height/width if needed  */
}

.flex-items {
  flex: 0 1 auto; /* (=default vals) short for flex: [grow/max][shrink/min][basis/ideal] */
  align-self: stretch; /* (=cross axis) auto | flex-start | flex-end | center | baseline | stretch */
}
