/*

Gebruikte kleuren: #3ba497, #b4d23a, #be1516, #143988, #dc172e
En natuurlijk ook black en white :-)

*/

body {
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  margin-left: 10vw;
  display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 4vh;
  border: 4vh solid black;
  background-color: black;
}

html { background-color: white;}

.een {
  background-color: #3ba497;
}

.twee {
  background-color: #b4d23a;
  grid-row: 1/ 4;
  grid-column: 2;
}

.drie {
  background-color: #be1516;
  grid-row: 1/ 3;
  grid-column: 3;
}

.vier {
  background-color: #143988;
  grid-row: 2/ 4;
  grid-column: 1;
  background-image: repeating-linear-gradient(-45deg, #143988, #143988 8vh, black 8vh, black 12vh);
}

.vijf {
  background-color: #dc172e;
}

h2 {
  height: 100%;
  background-color: black;
  clip-path: polygon(10% 90%, 50% 10%, 90% 90%);
}


.subnav-content{
  text-align: center;
  margin-top: 20rem;
}
.navbar {
  overflow: hidden;
  background-color: #333; 
}
.navbar:hover{
    background-color: red;
    display: block;
}
.navbar a {
  float: left;
  margin-left: 47%;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}