/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

ul {
	padding: 1rem;
	height: 100vh;

	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"a a a b b b"
		"c c d d e e"
		"f f f f e e";

}
h2 {
	font-size: 3rem;
	font-weight: 600;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
li:nth-child(1) {
	color: blue;
	grid-area: a;
}
li:nth-child(2) {
	color: plum;
	grid-area: b;
}
li:nth-child(3) {
	color: brown;
	grid-area: c;
}
li:nth-child(4) {
	color: peru;
	grid-area: d;
}

li:nth-child(5) {
	color: green;
	grid-area: e;
}

li:nth-child(6) {
	color: greenyellow;
	grid-area: f;
}


