body {
	background-color: lightblue;
	padding-top: 3rem;
}

ul {
	background-color: white;
	width: 30rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 2rem;
	padding-bottom: 1rem;
	list-style-type: none;
}

a {
	color: black;
	font-size: 2rem;
}

li {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

#red {background-color: red;}
#orange {background-color: orange;}
#yellow {background-color: yellow;}
#green {background-color: green;}
#blue {background-color: blue;}
#indigo {background-color: indigo;}
#violet {background-color: violet;}


.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
