/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	display: grid;
	gap: 5vw;
	padding: 5vw;
}

ul {
	border: 1rem solid #eee;
	height: 85vw;
}

ul.figuur2, ul.figuur4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

ul.figuur1, ul.figuur3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

ul.figuur1 .een, ul.figuur3 .een {grid-column: 1 / 3; grid-row: 1 / 3;}
ul.figuur1 .twee, ul.figuur3 .twee {grid-column: 3 / 5; grid-row: 1 / 3;}
ul.figuur1 .drie, ul.figuur3 .drie {grid-column: 1 / 3; grid-row: 3 / 5;}
ul.figuur1 .vier, ul.figuur3 .vier {grid-column: 3 / 5; grid-row: 3 / 5;} 

ul.figuur1 .vijf, ul.figuur3 .vijf {grid-column: 2 / 3; grid-row: 2 / 3;}
ul.figuur1 .zes, ul.figuur3 .zes {grid-column: 3 / 4; grid-row: 2 / 3;}
ul.figuur1 .zeven, ul.figuur3 .zeven {grid-column: 2 / 3; grid-row: 3 / 4;}
ul.figuur1 .acht, ul.figuur3 .acht {grid-column: 3 / 4; grid-row: 3 / 4;}

ul.figuur1 .een, ul.figuur2 .een, ul.figuur3 .vijf {background-color: #f7679b;}
ul.figuur1 .twee, ul.figuur2 .twee, ul.figuur3 .zes {background-color: #db3d74;}
ul.figuur1 .drie, ul.figuur2 .drie, ul.figuur3 .zeven {background-color: #ff96ad;}
ul.figuur1 .vier, ul.figuur2 .vier, ul.figuur3 .acht {background-color: #ffc7e4;}

ul.figuur3 .een, ul.figuur4 .een, ul.figuur1 .vijf {background-color: #45a9ff;}
ul.figuur3 .twee, ul.figuur4 .twee, ul.figuur1 .zes {background-color: #0d65e0;}
ul.figuur3 .drie, ul.figuur4 .drie, ul.figuur1 .zeven {background-color: #5fbaff;}
ul.figuur3 .vier, ul.figuur4 .vier, ul.figuur1 .acht {background-color: #72e4ff;}

@media (min-width: 1200px) {
	body {
		grid-template-columns: 1fr 1fr;
	}

	ul {
		height: 42.5vw;
	}
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }