/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	background-color: grey;
}
ul {
	height: 100vh;
	display: grid;
	gap: .2rem;
	grid-template-areas: 
		"a a a b b b b b b c c c d d d e f g g g g"
		"h h i i i i i i i j j j d d d k k l l m m"
		"h h i i i i i i i j j j n n n o o p p p q";
}
/* 	a b c d e f g h i j
	1 2 3 4 5 6 7 8 9 10
	k  l  m  n  o  p  q
	11 12 13 14 15 15 17
	
	*/
/* ROW 1 */
li:nth-child(1){
	grid-area: a;
	background-color: white;
}
li:nth-child(2){
	grid-area: b;
	background-color: white;
}
li:nth-child(3){
	grid-area: c;
	background-color: yellow;
}

li:nth-child(4){
	grid-area: d;
	background-color: blue;
}
li:nth-child(5){
	grid-area: e;
	background-color: yellow;
}
li:nth-child(6){
	grid-area: f;
	background-color: black;
}
li:nth-child(7){
	grid-area: g;
	background-color: white;
}

/* ROW 2 */
li:nth-child(8){
	grid-area: h;
	background-color: white;
}

li:nth-child(9){
	grid-area: i;
	background-color: red;
}

li:nth-child(10){
	grid-area: j;
	background-color: yellow;
}

li:nth-child(11){
	grid-area: k;
	background-color: yellow;
}

li:nth-child(12){
	grid-area: l;
	background-color: white;
}

li:nth-child(13){
	grid-area: m;
	background-color: yellow;
}

/* ROW 3*/
li:nth-child(14){
	grid-area: n;
	background-color: blue;
}
li:nth-child(14){
	grid-area: n;
	background-color: blue;
}

