/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */

.banner {
  background-color: plum;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

nav {
  padding: 2rem;
}

ul {
  text-align: end;
}
li {
  display: inline;
  padding: 1rem;
}
li a {
  text-decoration: none;
  color: black;
}

main {
    display: inline;
}
article {
    width: 50%;
    padding: 2%;
    float: left;
}
img {
    width: 50%;
    padding: 2%;
    float: right;
}
