/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;

	height: 100vh;
	padding: 1rem;
}

li {
	padding-top: 3rem;
	color: white;
	font-size: 3rem;
	text-align: center;
	font-family: helvetica;
	font-weight: 900;
}

li:nth-child(1) {
	grid-column: 2 / 4;
	grid-row: 4 / 5;	
}

li:nth-child(6) {
	grid-column: 1 / 2;
	grid-row: 1 / 5;	
}

li:nth-child(5) {
	grid-column: 1 / 2;
	grid-row: 3 / 4;	
}

li:nth-child(2) {
	grid-column: 2 / 4;
	grid-row: 1 / 2;	
}

li:nth-child(3) {
	grid-column: 2 / 3;
	grid-row: 2 / 4;	
}

li:nth-child(4) {
	grid-column: 3 / 4;
	grid-row: 2 / 4;	
}



li:nth-child(1) {background-color: firebrick;}
li:nth-child(2) {background-color: yellowgreen;}
li:nth-child(3) {background-color: pink;}
li:nth-child(4) {background-color: deepskyblue;}
li:nth-child(5) {background-color: yellow;}
li:nth-child(6) {background-color: plum;}
