:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
  background-color: pink;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  margin: 5%;
  background-image: url("./Untitled.jpeg");
  width: 90%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas:
    "een"
    "twee"
    " . "
    "drie"
    "vier";
  grid-template-rows: repeat(4, 1fr);
}
p {
  position: relative;
}
.een {
  grid-area: een;
  width: 10rem;
  height: 10rem;
  background-color: green;
}
.twee {
  grid-area: twee;
  width: 10rem;
  height: 10rem;
  background-color: salmon;

  left: 5rem;
  bottom: 5rem;
}
.drie {
  grid-area: drie;
  width: 10rem;
  height: 10rem;
  background-color: lightgreen;

  justify-self: end;
  right: 5rem;
  top: 5rem;
}
.vier {
  grid-area: vier;
  width: 10rem;
  height: 10rem;
  background-color: orangered;

  justify-self: end;
}

@media (min-width: 800px) {
  main {
    width: 70%;
    margin: 15%;
  }
  .twee {
    bottom: 0rem;
  }
  .drie {
    top: 0rem;
  }
}

@media (min-width: 1000px) {
  main {
    padding: 5rem;
    margin: 10% 25%;
    width: 500px;
    grid-template-areas:
      ". . . ."
      "een . . ."
      ". twee drie ."
      ". . . vier"
      ". . . .";

  }
  .een {
    width: 10rem;
    height: 10rem;
    background-color: green;
  }
  .twee {
    width: 10rem;
    height: 10rem;
    background-color: salmon;
    left: 0;
  }
  .drie {
    width: 10rem;
    height: 10rem;
    background-color: lightgreen;
    right: 0rem;

  }
  .vier {
    grid-area: vier;
    width: 10rem;
    height: 10rem;
    background-color: orangered;
  
    justify-self: end;
  }
}