.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .subnav-content {
    position: absolute;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  .subnav-content {
    font-size: 2rem;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
    padding: 2rem;
  }
  
  .subnav-content a {

    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  .subnav .subnav-content {
    display: block;
  }

  #kaas{
    background-color: black;
    color: white;
  }

  #oef1{
    margin-right: 2rem;
  }
  #oef2{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #oef3{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #oef4{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #oef5{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #oef6{
    margin-left: 2rem;
    margin-right: 2rem;
  }
