/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */
@font-face {
  font-family: ibmplexmono;
  src: url(../lab4-benodigdheden/IBMPlexMono-Medium.ttf);
}

body {
  font-family: ibmplexmono;
  padding: 3rem;
}

div:nth-child(1) {
  height: 30vh;
  background-image: url(../lab4-benodigdheden/hcb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
h2:nth-child(2) {
  text-align: end;
  padding: 0.5rem;
}

div:nth-child(3) {
  height: 30vh;
  background-color: pink;
  height: 30vh;
  background-image: url(../lab4-benodigdheden/we.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

h2:nth-child(4) {
  text-align: end;
  padding: 0.5rem;
}

div:nth-child(5) {
  height: 30vh;
  background-color: pink;
  height: 30vh;
  background-image: url(../lab4-benodigdheden/rf.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

h2:nth-child(6) {
  text-align: end;
  padding: 0.5rem;
}
