/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Changa", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

header {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
header h1 {
  padding: 2rem;
  grid-column: 1/3;
}
header nav {
  grid-column: 3/5;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ul li {
  padding-bottom: 0.1rem;
}
ul li a {
  text-decoration: none;
  color: black;
}
header h2 {
  grid-column: 1/5;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 3rem;
  font-weight: 400;
}
header div {
  grid-column: 1/5;
  display: grid;
  row-gap: 2rem;
}
header div p:nth-child(1) {
  grid-column: 1/5;
}
header div p:nth-child(2) {
  grid-column: 1/5;
}

main {
  padding-top: 1rem;
  width: 100vw;
  height: 100vh;
  display: grid;
}

article:nth-child(1) {
  background-color: #ca9fd2;
}
article:nth-child(1) p {
  background-color: #fdc930;
}
article:nth-child(2) {
  background-color: #fa6148;
}
article:nth-child(2) p {
  background-color: #2155bf;
  color: white;
  display: none;
}
article:nth-child(3) {
  background-color: #fdc930;
}
article:nth-child(3) h3 {
  background-color: #21a16b;
}
/* gebruikte kleur voor de schaduw van de cirkel: #9fd9c5 */
/* gebruikte kleur voor tekst en logo: black */

footer p {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 700px) {
  main {
    max-width: 700px;
    margin: auto;
  }
  header {
    padding: 5rem;
  }
  header h1 {
    padding: 0rem;
  }
  header div {
    column-gap: 2rem;
  }
  header div p:nth-child(1) {
    grid-column: 1/3;
  }
  header div p:nth-child(2) {
    grid-column: 3/5;
  }
}

@media (min-width: 1300px) {
  body {
    font-family: "Changa", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    display: grid;
    grid-template-areas: "left right";
  }
  header {
    height: 95vh;
    grid-area: left;
    padding: 2rem;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a a b b"
      "c c c c"
      "d d d d";
  }
  header h1 {
    grid-column: none;
    grid-area: a;
  }
  header nav {
    grid-column: none;
    grid-area: b;
  }
  nav ul {
    display: grid;
  }
  ul li {
    padding-bottom: 0.1rem;
  }
  ul li a {
    text-decoration: none;
    color: black;
  }
  header h2 {
    grid-area: c;
    font-weight: 800;
  }
  header div {
    grid-area: d;
    grid-column: 1/5;
    display: grid;
    row-gap: 2rem;
    grid-template-areas: "dp1 dp2";
  }
  header div p:nth-child(1) {
    grid-column: auto;
    grid-area: dp1;
  }
  header div p:nth-child(2) {
    grid-column: auto;
    grid-area: dp2;
  }

  main {
	max-width: 50vw;
    grid-area: right;
    grid-template-areas:
      "art1 art1"
      "art2 art3";
	grid-template-rows: 1fr 1fr;
  }

  article:nth-child(1) {
    grid-area: art1;
    background-color: #ca9fd2;
    display: grid;
    gap: 2rem;
    padding: 2rem;
    grid-template-areas:
      "p1 p1 p1"
      "p2 p3 p4"
      "p5 p5 p5";
  }

  article p {
    background-color: #fa6148;
  }
  article p:nth-child(1) {
    grid-area: p1;
  }
  article p:nth-child(2) {
    grid-area: p2;
  }
  article p:nth-child(3) {
    grid-area: p3;
  }
  article p:nth-child(4) {
    grid-area: p4;
  }
  article p:nth-child(5) {
    grid-area: p5;
  }

  article:nth-child(2) {
    grid-area: art2;
    background-color: #fa6148;
    display: grid;
	gap: 2rem;
	padding: 2rem;
	grid-template-areas: 
	"ppp1"
	"ppp2";
  }
  article:nth-child(2) p {
	width: 80%;
	background-color: #2155bf;
	color: white;
	display: block;
	
	padding: 20% 10%;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
  }
  article:nth-child(2) p:nth-child(1) {
    grid-area: ppp1;
  }
  article:nth-child(2) p:nth-child(2) {
    grid-area: ppp2;

  }

  article:nth-child(3) {
    grid-area: art3;
	background-image: url(../vraag1/img/xerox-code.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
    background-color: #fdc930;
  }
  article:nth-child(3) h3 {
    background-color: #21a16b;
  }
  /* gebruikte kleur voor de schaduw van de cirkel: #9fd9c5 */
  /* gebruikte kleur voor tekst en logo: black */

  footer p {
    padding: 1rem;
    height: 5vh;
    text-align: center;
  }
}
