:root {
    font-size: 62.5%; /* => 1rem == 10px */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-size: 2rem;
    width: 40rem;
    margin: 20vh auto;
}

h2 {
    font-size: 4rem ;
    font-weight: bold;
}

p{
    line-height: 3rem;
    margin-bottom: 2rem;
}

a {
    display: inline-block;
    background-color: black;
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

span {
    border-bottom: 2rem solid orange;
    border-radius: 30%;
}