body {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 200%;
	color: red;
}

h1 {
	color: #80170f;
}

h2 {
	color: #a5312b;
}

h3 {
	color: #ec3324;
}

h4 {
	color: #c0625e;
}

h5 {
	color: #e38583;
}

h6 {
	color: #ec867d;
}