/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
	background-color: black;
}

main {
	background-image: url("https://pen-online.com/fr/wp-content/uploads/2018/07/19075137/8-1024x809.jpg");
	width: 90vw;
	height: 90vw;
	background-size: cover;
	margin: 5vw auto;
	position: relative;
}

p {
	width: 20%;
	height: 20%;
}

p.een {
	background-color: #4ca159;

}

p.twee {
	background-color: #f0aad7;
	position: absolute;
	left: 10%;
	top: 10%;
}

p.drie {
	background-color: #a0f02f;
	position: absolute;
	right: 10%;
	bottom: 10%;
}

p.vier {
	background-color: #eb4f43;
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (min-width: 800px) {
	main {
		max-width: 60vw;
		max-height: 60vw;
	}

	p.drie {
		bottom: 20%;
	}

	p.twee {
		top: 20%;
	}
}

@media (min-width: 1000px) {
	main {
		max-width: 40vw;
		max-height: 40vw;
	}


	p.een {
		position: absolute;
		top: 40%;
		left: 30%;
	}

	p.vier {
		right: 30%;
		bottom: 40%;
	}
}
.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }