/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

ul {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: arial;
	font-size: 10vw;
	background-color: red;
	font-weight: 900;
}

a {
	text-decoration: none;
	color: white;
}

li:hover a {color: red;}
li:hover {background-color: white;}

li {
	flex: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1000px) {
	ul {flex-direction: row;}
}

.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  