:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
@font-face {
  font-family: Montserrat;
  src: url(../lab4-benodigdheden/IBMPlexMono-Medium.ttf);
}
@font-face {
  font-family: Lora;
  src: url(../lab4-benodigdheden/IBMPlexMono-Medium.ttf);
}
@font-face {
  font-family: Hind Madurai;
  src: url(../lab4-benodigdheden/IBMPlexMono-Medium.ttf);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: black;
  color: aliceblue;
  padding: 5rem;
}
h1 {
  font-size: 5rem;
  font-family: Montserrat;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
h2 {
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 3rem;
}
p {
  font-size: 2rem;
  font-family: Ubuntu;
  padding-bottom: 3rem;
  max-width: 50rem;
}
