/* gebruikte kleuren

#2196f3
#ffeb3b
#3775aa (voor de links "volledig cursusoverzicht" en "volledig nieuwsoverzicht")

*/

body {
  font-family: helvetica, sans-serif;
  font-size: 1.65rem;
  font-weight: 100;
  padding: 1rem;
}

header h1 {
  font-weight: 400;
  height: 10vh;
}
header h1 img {
  height: 27px;
  width: 35px;
  position: relative;
  top: 9px;
  padding-right: 1rem;
}
header nav {
  padding: 2rem 0 1rem 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li:before {
  content: "//";
  padding-right: 1rem;
}
header nav ul li a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-areas: 
    "cursus"
    "nieuws"
    "about";
  gap: 1rem;
}
main div h2 {
  font-weight: 600;
  border-top: 1px solid black;
  padding: 2rem 0;
  margin-top: 1rem;
}
main div article {
  background-color: khaki;
  padding: 1rem;
  margin: 1rem 0;
  line-height: 2;
}
main div p {
  padding-top: 1rem;
}
main div article h3 {
  font-weight: 400;
  padding-bottom: 6rem;
}
.cursus {
  grid-area: cursus;
}
.nieuws {
  grid-area: nieuws;
}
.nieuws article {
  background-color: lightblue;
}
.over {
  grid-area: about;
  line-height: 1.5;
}

.figuur {
  height: 90vh;
  width: 100%;
  background-image: url(./pylogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  margin: 2rem 0;
}

.figuur {
  display: grid;
  padding: 0 4.5rem;
  
}

footer {
  border-top: 1px solid black;
  padding: 1rem 0;
}

@media (min-width: 950px) {
  .cursus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
  .cursus h2 {
    grid-column: 1/4;
  }

  .nieuws {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
  .nieuws h2 {
    grid-column: 1/4;
  }

  .over {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  .over h2 {
    grid-column: 1/3;
  }
  .figuur {
    height: 100%;
    margin: 0;
  }

  footer {
    margin-top: 2rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 1rem 10rem;
  }
}