/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {	
	font-family:Arial, Helvetica, sans-serif;
	font-size: 4vh;
	text-align: center;
}

li {
	height: 50vh;
	color: white;
	padding-top: 23vh;
}

h2 {
	font-weight: 600;
	letter-spacing: .8vh;
	margin-bottom: 4vh;
}

h3 {
	font-size: 2.2vh;
}

span {
	padding-right: 3vh;
}

.tomato {background-color: tomato;}
.orangered {background-color: orangered;}
.coral {background-color: coral;}
.lightsalmon {background-color: lightsalmon;}
.darkorange {background-color: darkorange;}