/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


body {
	background-color: gainsboro;
	padding: 2rem 4rem;
	height: 100vh;
	display: grid;
	gap: 2rem;
	grid-template-areas: 
		"header"
		"main"
		"main"
		"footer";
}

/* HEADER */
header {
	grid-area: header;
	background-color: lightsteelblue;

	padding: 2rem;
	gap: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"h1 nav";

	box-shadow: .5rem .5rem blueviolet;
	border-radius: 15px 15px 0 0;
}
h1 {
	grid-area: h1;
	background-color: blueviolet;
}
nav {
	grid-area: nav;
	background-color: blueviolet;
}

/* MAIN */
main {
	grid-area: main;
	background-color: lightgoldenrodyellow;

	display: grid;
	padding: 2rem;
	gap: 1rem;
	grid-template-areas: "article1 article2 aside";

	box-shadow: .5rem .5rem blueviolet;
}
article:nth-child(1) {
	grid-area: article1;
	background-color: orange;
}
article:nth-child(2) {
	grid-area: article2;
	background-color: orange;
}
aside {
	grid-area: aside;
	background-color: orangered;
}

/* FOOTER */
footer {
	grid-area: footer;
	background-color: green;
	display: inherit;

	box-shadow: .5rem .5rem blueviolet;
	border-radius: 0 0 15px 15px;
}
ul {
	display: grid;
	padding: 2rem;
	gap: 1rem;
	grid-template-areas: "li1 li2 li3 li4";
}
li:nth-child(1) {
	grid-area: li1;
	background-color: lightcoral;
}

li:nth-child(2) {
	grid-area: li2;
	background-color: lightcoral;
}

li:nth-child(3) {
	grid-area: li3;
	background-color: lightcoral;
}

li:nth-child(4) {
	grid-area: li4;
	background-color: lightcoral;
}

