/* drie basisstijlregels om je te helpen */
:root {font-size: 62.5%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* AANDACHT: IK HEB VOOR DEZE OEFENING DE ROOT FONT SIZE OP 62.5% GEZET. Hierdoor correspondeert 1rem met 10px en niet zoals gewoonlijk met 16px (zie theorie!) */

body {
	margin: 2rem;
	font-family: "helvetica neue", arial, sans-serif;
	font-size: 2rem;
}

h1 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 1.5rem;
}

h2 {
	font-weight: 200;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

img {
	max-width: 100%;
	margin-bottom: 2rem;
}

p {
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 2rem;
	margin-bottom: 1rem;
}

p:first-letter {
	padding-left: 1rem;
}

/* deze pseudo-class hebben we strikt genomen nog niet gezien. Je kan er de eerste letter mee gaan stylen van een element */

.start:first-letter, .colophon::first-letter {
	padding-left: 0;
}

strong {
	font-style: italic;
}

.end {
	margin-bottom: 2rem;
}

.colophon {
	font-size: 1.2rem;
	margin-bottom: 0;
}

.colophon span {
	font-weight: 900;
}


@media (min-width: 950px) {
	body {
		display: grid;
		width: 90rem;
		grid-template-columns: 40rem 30rem;
		grid-template-rows: 2rem 4rem 28.2rem 31rem 30rem;
		row-gap: 2rem;
		column-gap: 20rem;
		margin: 5rem auto 20rem auto;
	}

	img {
		display: block;
		overflow: hidden;
		max-width: auto;
	}

	h1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	h2 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.afb1 {
		grid-column: 1  / 2;
		grid-row: 3 / 4;
	}

	.afb2 {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}

	.afb3 {
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}

	.copy {
		grid-column: 2 / 3;
		grid-row: 3/6;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.5rem;
	}

	.end {
		margin-bottom: 5rem;
	}
}

@media (min-width: 1100px) {
	html {border-right: 10rem solid darkgrey;}
}



