/* gebruikte kleuren

#2196f3
#ffeb3b
#3775aa (voor de links "volledig cursusoverzicht" en "volledig nieuwsoverzicht")

*/
body {
  font-family: helvetica, sans-serif;
  font-size: 1.65rem;
  font-weight: 100;
  padding: 1rem;
}

a {
  color: #2196f3;
}

nav ul li:before {
  content: "//";
  padding-right: 1rem;
}
header h1 img {
  height: 3rem;
  padding-right: 1rem;
  position: relative;
  top: 10px;
}
header h1 {
  padding-bottom: 3rem;
}

header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  color: slateblue;
}


main .cursus {
  display: grid;
  gap: 2rem;
}
main .cursus h2 {
  height: 10vh;
  margin-top: 5vh;
  padding-top: 2rem;
  font-weight: 700;
  border-top: 1px solid black;
}
main .cursus article {
  background-color: #ffeb3b;
  padding: 1rem;

}
main .cursus article h3 {
  padding-bottom: 7rem;
  font-weight: 400;
}
main .cursus article p {
  line-height: 2.6;
}


main .nieuws {
  display: grid;
  gap: 2rem;
}
main .nieuws h2 {
  height: 10vh;
  margin-top: 10vh;
  padding-top: 2rem;
  font-weight: 700;
  border-top: 1px solid black;
}
main .nieuws article {
  background-color: steelblue;
  padding: 1rem;

}
main .nieuws article h3 {
  padding-bottom: 7rem;
  font-weight: 400;
}
main .nieuws article p {
  line-height: 2.6;
}
main .nieuws article p a {
  color: aliceblue;
}


main .over h2 {
  height: 10vh;
  margin-top: 10vh;
  padding-top: 2rem;
  font-weight: 700;
  border-top: 1px solid black;
}
main .over div p {
  padding: 1.5rem 0;
}
main .over .figuur {
  height: 50vh;
  width: 60vw;
  margin: 3vh auto;

  background-image: url(./pylogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}


footer p {
  height: 10vh;
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: 1px solid black;
}

@media (min-width:950px) {
  .cursus {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cursus h2 {
    grid-column: 1/4;
  }

  .nieuws {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nieuws h2 {
    grid-column: 1/4;
  }

  .over {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
  } 
  .over h2 {
    grid-column: 1/3;
  }
  .over div:nth-child(2) {
    grid-column: 1/2;
  }
  .over div:nth-child(3) {
    width: 30vw;
    grid-column: 2/3;
    position: relative;
    bottom: 7vh;
  }
  footer p {
    height: 10vh;
    margin-top: 3vh;
    padding-top: 2rem;
    border-top: 1px solid black;

  }
  main .over .figuur {
    height: 100%;
    width: auto;
  }
  
}
@media (min-width:1200px) { 
  body {
    margin: 7%
  };
}