:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
}

li:nth-child(1) {
  grid-area: a;
  background-color: red;
}
li:nth-child(2) {
  grid-area: b;
  background-color: green;
}
li:nth-child(3) {
  grid-area: c;
  background-color: yellow;
}
li:nth-child(4) {
  grid-area: d;
  background-color: blue;
}

@media (min-width: 600px) {
  ul {
    grid-template-areas: 
    "a b c d";
  }
}

@media (min-width: 800px) {
  ul {
    grid-template-areas: 
      "c d"
      "a b";
  }
}
