:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* Gebruikte kleuren (studenten met kleurenblindheid: maak je geen zorgen): 
ZWART: #000000
WIT: #ffffff
MOSTERDGEEL: #fed232
GROEN: #21a85d
BLAUW: #5757fd
ROOD: #f04e2b
ROZEROOD: #ff8577
PAARS: #9d5ef3

Het lettertype Noto Sans Mono kan je gebruiken in de font-weights 300, 500 en 700
*/

body {
	font-family: 'Noto Sans Mono', monospace;
	font-size: 1.1rem;
	font-weight: 300;}
header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: black;
	height: 2rem;
	padding-top: 0.4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: sticky;
	top: 0;
}
header >h1 > a{
	text-decoration: none;
	color: white;
}
header >nav >ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header >nav >ul >li >a{
	text-decoration: none;
	color: white;
}
.geselecteerd{
	text-decoration: underline;
}

body{
	display: grid;
	grid-template-columns: 1fr;
}

aside{
	display: none;
}

main >h2{
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	font-weight: 500;
}
main >nav{
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #fed232;
	height: 10rem;
	margin-bottom: 2rem;
}
main >nav >ul >li >a{
	text-decoration: none;
	color: black;
	line-height: 230%;
	margin-left: 1rem;
}
.geselecteerd{
	text-decoration: none;
	font-weight: 500;
}

main >p:nth-child(3){
	margin-left: 1rem;
	margin-right: 1rem;
}
main >p:nth-child(3) >a{
	color: #21a85d;
}

.figuur1{
	margin-left: 4rem;
	margin-right: 4rem;
	background-color: #5757fd;
	height: 15rem;
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.figuur1 >li{
	height: 4rem;
	width: 4rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.figuur1 >li:first-child{
	background-color: #f04e2b;
	clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}
.figuur1 >li:nth-child(2){
	background-color: #fed232;
}
.figuur1 >li:nth-child(3){
	background-color: #9d5ef3;
	clip-path: circle(50%);
}
.figuur1 >li:nth-child(4){
	background-color: #ff8577;
}

main >p:nth-child(5){
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 2rem;
}
main >p:nth-child(5) >a{
	color: #21a85d;
}

.figuur2{
	background-color: #21a85d;
	margin-left: 4rem;
	margin-right: 4rem;
	height: 15rem;
	margin-top: 2rem;
	overflow: hidden;
}
.figuur2 >div{
	height: 100%;
	width: 100%;
	background: linear-gradient(100deg, transparent 0%, transparent 45%, #5757fd 45%, #5757fd 55%,transparent 55%,  transparent 100%), linear-gradient(335deg, transparent 0%, transparent 45%, #5757fd 45%, #5757fd 55%,transparent 55%,  transparent 100%);
	animation: draaien 5s infinite;
	animation-direction: alternate;
}

main >p:nth-child(7){
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
main >p:nth-child(7) >a{
	color: #21a85d;
}

.vorigevolgende{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 8rem;
}
.vorigevolgende >li{
	width: auto;
	height: 8rem;
	padding-top: 3.5rem;
}
.vorigevolgende >li >a{
	text-decoration: none;
	color: white;
}
.vorigevolgende >li:first-child{
	background-color: #5757fd;
	text-align: left;
	padding-left: 1rem;
}
.vorigevolgende >li:first-child:hover{
	background-color: #f04e2b;
}
.vorigevolgende >li:nth-child(2){
	background-color: #21a85d;
	text-align: right;
	padding-right: 1rem;
}
.vorigevolgende >li:nth-child(2):hover{
	background-color: #f04e2b;
}

footer{
	background-color: #ff8577;
	height: 3rem;
}
footer >p{
	margin-top: 1rem;
	margin-left: 1rem;
}

@media screen and (min-width: 900px){
	body{
		display: grid;
		grid-template-columns: 25vw 75vw;
	}
	header{
		grid-column: 1/3;
	}
	main >nav{
		display: none;
	}
	aside{
		display: inline-block;
		grid-row: 2/5;
		background-color: #fed232;
	}
	aside >nav >ul >li:first-child{
		margin-top: 2rem;
	}
	aside >nav >ul >li:nth-child(2), aside >nav >ul >li:nth-child(3), aside >nav >ul >li:nth-child(4){
		margin-top: 1rem;;
	}
	aside >nav >ul >li >a{
		text-decoration: none;
		color: black;
		margin-left: 1rem;
	}
	main{
		margin-left: 6rem;
		margin-right: 6rem;
	}
	.figuur2{
		background-color: #f04e2b;
	}
	.figuur2 >div{
		background: linear-gradient(100deg, transparent 0%, transparent 45%, white 45%, white 55%,transparent 55%,  transparent 100%), linear-gradient(335deg, transparent 0%, transparent 45%, white 45%, white 55%,transparent 55%,  transparent 100%);
	}

	.figuur1{
		display: inline-block;
		width: 52rem;
	}
	.figuur1 >li:first-child{
		height: 15rem;
		width: 10rem;
		clip-path: none;
		position: absolute;
	}
	.figuur1 >li:nth-child(2){
		height: 5rem;
		width: 12rem;
		position: absolute;
		bottom: 20rem;
		left: 50rem;
	}
	.figuur1 >li:nth-child(3){
		clip-path: none;
		height: 4rem;
		width: 15rem;
		position: absolute;
		left: 71rem;
	}
	.figuur1 >li:nth-child(4){
		height: 4rem;
		width: 15rem;
		position: absolute;
		left: 71rem;
		bottom: 16rem;
	}
}

@keyframes draaien {
	50% {transform: rotate(180deg);}
}

.navbalk{
	display: none;
}



.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }