/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

main {
	height: 100vh;
	padding: 2vh;
	color: white;
	font-size: 2rem;
	font-family: arial;
	display: grid;
	gap: 2vh;
}

div {
	position: relative;
}

h2 {
	position: absolute;
	right: 2vh;
	bottom: 2vh;
}


div:nth-child(1) {background-color: #eb4f43;}
div:nth-child(2) {background-color: #edd347;}
div:nth-child(3) {background-color: #062f55;}
div:nth-child(4) {background-color: #52a50f;}
div:nth-child(5) {background-color: #f0aad7;}
div:nth-child(6) {background-color: #a0f02f;}
div:nth-child(7) {background-color: #ecc274;}
div:nth-child(8) {background-color: #e9892f;}

@media (min-width: 800px) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	h2 {
		right: auto;
		bottom: auto;
		left: 2vh;
		top: 2vh;
	}
}

@media (min-width: 1200px) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	h2 {
		left: auto;
		right: 2vh;
	}

	div:nth-child(2) {grid-column: 4 / 5;}
	div:nth-child(8) {grid-column: 4 / 5;}
}
.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }