:root {
	font-size: 130%;
}

body {
	background-color: #ee6b50;
	font-family: helvetica, sans-serif;
}

main {
	background-color: white;
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	padding: 1rem 2rem; /* top and bottom: 1rem, right and left: 2rem */
	border: 1px solid black;
}

p {
	font-size: 1.3rem;
}

a {
	color: #ee6d50;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }