:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  background-color: blue;
  height: 100vh;
  padding: 1rem;

  display: grid;
  gap: 1rem;
  grid-auto-rows: minmax(150px, auto);
  
}
li p {
  padding: 10rem 10rem 10rem;
  text-align: center;
  
  font-size: 10rem;
  color: blueviolet;
}

li:nth-child(1) {
  background-color: skyblue;
  
}
li:nth-child(2) {
  background-color: aqua;
}
li:nth-child(3) {
  background-color: aquamarine;
}
li:nth-child(4) {
  background-color: cadetblue;
}
li:nth-child(5) {
  background-color: gainsboro; 
}