:root {
    font-size: 62.5%; /* => 1rem == 10px */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    text-align: center;
    font-size: 1.2rem;
    color: aliceblue;
}
li {
    height: 50vh;   
    padding-top: 7vh;
}

h2 {
    text-transform: uppercase;
    padding-bottom: 2vh;
}

span {
    margin-right: 100px;
}

.tomato {
    background-color: rgb(255, 99, 71);
}

.orangered {
    background-color: rgb(255, 69, 0);
}

.coral {
    background-color: rgb(255, 127, 80);
}

.lightsalmon {
    background-color: rgb(255, 160, 122);
}

.darkorange {
    background-color: rgb(255, 140, 0);
}

