/* drie basisstijlregels om je te helpen */
:root {font-size: 62.5%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* AANDACHT: IK HEB VOOR DEZE OEFENING DE ROOT FONT SIZE OP 62.5% GEZET. Hierdoor correspondeert 1rem met 10px en niet zoals gewoonlijk met 16px (zie theorie!) */

/* kleuren */

.figuur1 {background-color: #56E39F;}
.figuur1 > div:nth-child(1) {background-color: #56E39F;}
.figuur1 >div:nth-child(2) {background-color: #59C9A5;}
.figuur1 >div:nth-child(3) {background-color: #5B6C5D;}
.figuur1 >div:nth-child(4) {background-color: #27476E;}
/* alle kleuren voor dit vlak: #56E39F #59C9A5 #5B6C5D #27476E*/
.figuur2 {background-color: #F1D302;}
.figuur2 >div:nth-child(1) {background-color: #56E39F;}
.figuur2 >div:nth-child(2) {background-color: #C1292E;}
.figuur2 >div:nth-child(3) {background-color: #235789;}
.figuur2 >div:nth-child(4) {background-color: #F0A202;}
/* alle kleuren voor dit vlak: #F1D302 #C1292E #235789 #F0A202 */
.figuur3 {background-color: #B3001B;}
.figuur3 >div:nth-child(1) {background-color: #B3001B;}
.figuur3 >div:nth-child(2) {background-color: #F4E04D;}
.figuur3 >div:nth-child(3) {background-color: #54F2F2;}
.figuur3 >div:nth-child(4) {background-color: #5EB1BF;}
/* alle kleuren voor dit vlak: #B3001B #F4E04D #54F2F2 #5EB1BF */
.figuur4 {background-color: #FF715B;}
.figuur4 >div:nth-child(1) {background-color: #FF715B;}
.figuur4 >div:nth-child(2) {background-color: #30332E;}
.figuur4 >div:nth-child(3) {background-color: #62BBC1;}
.figuur4 >div:nth-child(4) {background-color: #EC058E;}
/* alle kleuren voor dit vlak: #FF715B #30332E #62BBC1 #EC058E */

/* einde kleuren */

body {
	font-family: helvetica, arial, sans-serif;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}

header {
	position: relative;
	margin: 2rem;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
}

nav {
	font-size: 1.6rem;
	position: absolute;
	top: 1.5rem;
	right: 0;      
}

nav a {
	display: none;
	color: black;
	text-decoration: none;
	margin-left: 2.5rem
}

nav a.mobiel {
	display: inline;
}

.billboard {
	font-size: 2rem;
	line-height: 3.5rem;
	color: white;
	background-color: black;
	padding: 7rem 2rem;
	background-image: url("img/achtergrond-nacht.png");
	background-size: cover;
	background-position: bottom;
}

.billboard h2 {
	font-weight: bold;
	font-size: 3rem;
	line-height: 5rem;
	margin-bottom: 2rem;
}

.billboard p {
	font-style: italic;
	font-weight: 100;
}

.overons, .watwedoen {
	margin: 5rem 2rem;
	font-size: 2rem;
	line-height: 3.5rem;
}

.overons h2, .watwedoen h2 {
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 2rem;
}

.overons p, .watwedoen p {
	font-style: italic;
	font-weight: 100;
	
}

section {
	margin-bottom: 5rem;
	padding-top: 1.5rem;
}

section h3 {
	font-weight: 900;   
}

.overons section p, .watwedoen section p {
	font-size: 1.5rem;
	font-weight: 300;
	font-style: normal;
}

.figuur1, .figuur2, .figuur3, .figuur4 {
	height: 30rem;
}

footer {
	color: white;
	background-color: black;  
	font-size: 1.6rem;
	padding: 5rem 2rem;
}

footer a {
	color: white;
	text-decoration: none;
}

footer ul {
	text-align: center;
	list-style-type: square;
}

footer ul li {
	display: inline-block;     
}

.logo {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
}

footer p {
	text-align: center;
	margin: 2rem 0;
	line-height: 2.5rem;
}

/* input type submit / we zien input elementen heel snel in het kader van forms / je geeft ze vorm net zoals elk ander html-element */

input[type="submit"]  {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5rem;
  background-color: black;
  padding: 1rem;
  margin-top: 2rem;
  display: block;
  border-radius: 4px;
  color: white;
}


@media (min-width: 900px) {
	body {max-width: none;}		  
	nav a {display: inline;}
	nav a.mobiel {display: none;}
		  
	.overons {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 4rem;
		padding-left: 2rem;
	}
		  
	.overons .hoofding {grid-column: 1 / 4;margin-left: -2rem;}
	.overons .sectie1 {grid-column: 1 / 2;}
	.overons .sectie2 {grid-column: 2 / 3;}
	.overons .sectie3 {grid-column: 3 / 4;}
	.overons section p {height: 13rem;}
			
	.watwedoen {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4rem;
		padding-left: 2rem;
	}
		  
	.watwedoen .hoofding {grid-column: 1 / 3;margin-left: -2rem;}
	.watwedoen .sectie1, .watwedoen .sectie3 {grid-column: 1 / 2;}
	.watwedoen .sectie2, .watwedoen .sectie4 {grid-column: 2 / 3;}
		    
	.figuur1, .figuur2, .figuur3, .figuur4 {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
	}

	.figuur1, .figuur3 {grid-template-columns: 1fr 2fr;}
	.figuur2, .figuur4 {grid-template-columns: 2fr 1fr;}
	.figuur1 > div:nth-child(1), .figuur3 > div:nth-child(1) {grid-column: 1 / 2; grid-row: 1 /4;}
	.figuur2 > div:nth-child(3), .figuur4 > div:nth-child(3) {grid-column: 2 / 3; grid-row: 1 /4;}
}
	
@media (min-width: 1150px) {
	
		.watwedoen {
			grid-template-columns: repeat(4,1fr);
		}

		.watwedoen .hoofding {grid-column: 1 / 5;}
		.watwedoen .sectie1 {grid-column: 1 / 2;}
		.watwedoen .sectie2 {grid-column: 2 / 3;}
		.watwedoen .sectie3 {grid-column: 3 / 4;}
		.watwedoen .sectie4 {grid-column: 4 / 5;}
		  
		.figuur1 > div:nth-child(1) {grid-column: 1 / 3;grid-row: 1 /2;}
		.figuur1 > div:nth-child(2) {grid-column: 1 / 2;grid-row: 2 /4;}

		.figuur2 {grid-template-columns: repeat(4,1fr);grid-template-rows: 1fr;}
		.figuur2 > div:nth-child(2) {grid-column: 2 / 3;}
		.figuur2 > div:nth-child(3) {grid-column: 3 / 4;}

		.figuur3 {grid-template-rows: repeat(4,1fr);grid-template-columns: 1fr;}
		.figuur3 > div:nth-child(1) {grid-column: 1 / 2; grid-row: 1 / 2;}

		.figuur4 > div:nth-child(1) {grid-column: 1 / 3;grid-row: 1 / 2;}
		.figuur4 > div:nth-child(3) {grid-column: 2 / 3;grid-row: 2 / 4;}		  	  
}
.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }