/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Changa", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;

  position: absolute;
}

article:nth-child(1) {
  background-color: #ca9fd2;
}
article:nth-child(1) p {
  background-color: #fdc930;
}
article:nth-child(2) {
  background-color: #fa6148;
}
article:nth-child(2) p {
  background-color: #2155bf;
  color: white;
}
article:nth-child(3) {
  background-color: #fdc930;
}
article:nth-child(3) h3 {
  background-color: #21a16b;
}
/* gebruikte kleur voor de schaduw van de cirkel: #9fd9c5 */
/* gebruikte kleur voor tekst en logo: black */

header {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  line-height: 1.3;
}
header h1 {
  grid-column: 1/2;
  font-size: 20px;
  padding: 0.7rem;

  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: 3vw;
  top: 4vh;
}
header nav {
  grid-column: 3/5;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 300px;
}

header nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header h2 {
  grid-column: 1/5;
  font-size: 3rem;
  font-weight: 400;
  padding: 4rem 0;
  text-align: center;
}
header div {
  grid-column: 1/5;
}
header div p {
  padding-bottom: 1.5rem;
}

main article {
  height: 30vh;
}
main article.article_twee p {
  display: none;
}

footer {
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 700px) {
  body {
    width: 100%;
  }
  header nav {
    position: relative;
    left: 100px;
  }
  header div {
    margin: auto;
    max-width: 700px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  header h1 {
    left: 20%;
  }
}

@media (min-width: 1300px) {
  body {
    display: grid;
    grid-template-areas:
      "head main"
      "foot main";
  }
  header {
    grid-area: head;
  }
  header h1 {
    left: 3rem;
  }
  header nav {
    position: static;
  }
  footer {
    grid-area: foot;
    position: absolute;
    bottom: 1rem;
  }
  header,
  footer,
  main {
    width: 50vw;
  }
  main {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  article.article_een {
    grid-column: 1/5;
    height: 60vh;

    display: grid;
    gap: 2rem;
    padding: 2rem;
  }
  .article_een p {
    background-color: gold;
  }
  .article_een .een {
    grid-column: 1/4;
  }
  .article_een .vijf {
    grid-column: 1/4;
  }

  article.article_twee {
    grid-column: 1/3;
    height: 40vh;
  }
  article.article_drie {
    grid-column: 3/5;
    height: 40vh;
  }
  main article.article_twee p {
    display: block;
    height: 40%;
    width: 80%;
    margin: 5% auto;
    text-align: center;
    padding-top: 6%;
    font-size: 5rem;
    font-weight: 600;
  }
  .article_drie {
    background-image: url(./img/xerox-code.jpeg);
    background-size: 100% 200%;
  }
  .article_drie h3 {
    border: 1px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 1rem;
    margin-top: 1rem;

    box-shadow: -70px 0 rgb(171, 215, 198);
  }
}
