/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

@font-face {
	src: url("IBMPlexMono-Medium.ttf");
	font-family: IBMPlexMono;
}

body {
	font-family: IBMPlexMono;
	font-size: 1.3vw;
	padding-top: 3vw;
}

div, h2 {
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: right;
	line-height: 3vw;
	margin-bottom: 0vw;
}

div {
	background-size: cover;
	height: 25vh;
}

div:nth-child(1) {
	background-image: url('hcb.jpg');
	/* 0% 0%: eerste waarde = horizontale positie en tweede waarde is verticale positie */
	background-position: 0% 23%;
}

div:nth-child(3) {
	background-image: url('we.jpeg');
	/* 0% 0%: eerste waarde = horizontale positie en tweede waarde is verticale positie */
	background-position: 0% 60%;
}

div:nth-child(5) {
	background-image: url('rf.jpeg');
	/* 0% 0%: eerste waarde = horizontale positie en tweede waarde is verticale positie */
	background-position: 0% 56%;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }