header, main, footer {
	height: 32vh;
	width: 50vw;
}


header {
	background-color: yellow;
	margin-bottom: 2vh;
}

main {
	background-color: red;
	margin-bottom: 2vh;
	margin-left: 50vw;
}

footer {
	background-color: blue;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }