/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */


/*
10: #f56f50
9: #035d7f
8: #694c45
7: #364445
6: #146e5b
5: #fdcd33
4: #eb504f
3: #018c47
2: #d52831
1: #ede2d9 (achtergrond van de grid)
*/


html {
	background-color: white;
}

body {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-rows: repeat(18,1fr);
	background-color: #ede2d9;
	gap: .2rem;
}

div:nth-child(1), div:nth-child(18) {background-color: #f56f50;}
div:nth-child(2), div:nth-child(17) {background-color: #035d7f;}
div:nth-child(3), div:nth-child(16) {background-color: #694c45;}
div:nth-child(4), div:nth-child(15) {background-color: #364445;}
div:nth-child(5), div:nth-child(14) {background-color: #146e5b;}
div:nth-child(6), div:nth-child(13) {background-color: #fdcd33;}
div:nth-child(7), div:nth-child(12) {background-color: #eb504f;}
div:nth-child(8), div:nth-child(11) {background-color: #018c47;}
div:nth-child(9), div:nth-child(10) {background-color: #d52831;}

@media (min-width: 1000px) {

body {
	width: 88vh;
	height: 80vh;
	grid-template-columns: repeat(11,1fr);
	grid-template-rows: repeat(10,1fr);
	margin: 10vh auto;
}

div:nth-child(1) {grid-column: 1/11;}
div:nth-child(2) {grid-column: 1/10;grid-row: 2;}
div:nth-child(3) {grid-column: 1/9;grid-row: 3;}
div:nth-child(4) {grid-column: 1/8;grid-row: 4;}
div:nth-child(5) {grid-column: 1/7;grid-row: 5;}
div:nth-child(6) {grid-column: 1/6;grid-row: 6;}
div:nth-child(7) {grid-column: 1/5;grid-row: 7;}
div:nth-child(8) {grid-column: 1/4;grid-row: 8;}
div:nth-child(9) {grid-column: 1/3;grid-row: 9;}
div:nth-child(10) {grid-column: 10/12;grid-row: 2;}
div:nth-child(11) {grid-column: 9/12;grid-row: 3;}
div:nth-child(12) {grid-column: 8/12;grid-row: 4;}
div:nth-child(13) {grid-column: 7/12;grid-row: 5;}
div:nth-child(14) {grid-column: 6/12;grid-row: 6;}
div:nth-child(15) {grid-column: 5/12;grid-row: 7;}
div:nth-child(16) {grid-column: 4/12;grid-row: 8;}
div:nth-child(17) {grid-column: 3/12;grid-row: 9;}
div:nth-child(18) {grid-column: 2/12;grid-row: 10;}
}

@media (min-width: 1200px) {
	div:nth-child(1) {grid-row: 1/11;grid-column: 1;}
	div:nth-child(2) {grid-row: 1/10;grid-column: 2;}
	div:nth-child(3) {grid-row: 1/9;grid-column: 3;}
	div:nth-child(4) {grid-row: 1/8;grid-column: 4;}
	div:nth-child(5) {grid-row: 1/7;grid-column: 5;}
	div:nth-child(6) {grid-row: 1/6;grid-column: 6;}
	div:nth-child(7) {grid-row: 1/5;grid-column: 7;}
	div:nth-child(8) {grid-row: 1/4;grid-column: 8;}
	div:nth-child(9) {grid-row: 1/3;grid-column: 9;}
}
.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }