:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  height: 10vh;
}

body > h1 {
  background-color: blue;
}
h1 + p {
  background-color: pink;
}
p + p {
  background: salmon;
}
p + h3 {
  background-color: lightskyblue;
}
h3 + em {
  display: block;
  background-color: green;
}
body a {
  display: block;
  background-color: yellow;
}
a + em {
  display: block;
  background-color: purple;
}
body > h4 {
  background-color: palevioletred;
}
h4 + h3 {
  background-color: burlywood;
}
h3 + p {
  background-color: gray;
}
