/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


/* kleuren */

.figuur1 { background-color: #b2ff59;}
.figuur1 > div:nth-child(1) {background-color: #b2ff59;}
.figuur1 > div:nth-child(2) {background-color: #00e676;}
.figuur1 > div:nth-child(3) {background-color: #2AFC98;}
.figuur1 > div:nth-child(4) {background-color: #01bfa5;}


.figuur2 { background-color: #ff80ab;}
.figuur2 > div:nth-child(1) {background-color: #ff80ab;}
.figuur2 > div:nth-child(2) {background-color: #c51162;}
.figuur2 > div:nth-child(3) {background-color: #ff1844;}
.figuur2 > div:nth-child(4) {background-color: #9D6A89;}

.figuur3 { background-color: #ffeb3b;}
.figuur3 > div:nth-child(1) {background-color: #ffeb3b;}
.figuur3 > div:nth-child(2) {background-color: #ff9300;}
.figuur3 > div:nth-child(3) {background-color: #1BE7FF;}
.figuur3 > div:nth-child(4) {background-color: #E4FF1A;}

.figuur4 { background-color: #40c4ff;}
.figuur4 > div:nth-child(1) {background-color: #40c4ff;}
.figuur4 > div:nth-child(2) {background-color: #2979ff;}
.figuur4 > div:nth-child(3) {background-color: #3741ff;}
.figuur4 > div:nth-child(4) {background-color: #2364AA;}

/* einde kleuren */

body {
	font-family: helvetica, arial, sans-serif;
	max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #231f20;
    padding: 2.5rem;
    color: white;
    font-size: 1.35rem;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5rem;
}
	
.figuur1, .figuur2, .figuur3, .figuur4 {
	display: grid;
	grid-template-columns: 1fr;
	height: 15rem;
	background-color: white;
}
	
h1 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	margin-bottom: 2.5rem;
}

main p {
	line-height: 2.5rem;
	margin-bottom: 2.5rem;
	grid-column: 1 / 3;
}

header {
	margin-bottom: 2.5rem;
	padding-bottom: 2.5rem;
	border-bottom: .1rem solid white;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

nav a:hover, footer a:hover {
	color: #e0e0e0;
}

footer {
	padding-top: 2.5rem;
	border-top: .1rem solid white;
}

.logo {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 2.5rem;
	font-weight: 900;
}

footer p {
	line-height: 2.5rem;   
	text-align: center;
}

footer a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

footer ul {
	text-align: center;
	margin-top: 2.5rem;
}

footer li {
	display: inline;
}


@media (min-width: 900px) {
	.figuur1, .figuur2, .figuur3, .figuur4 {
		padding: 2.5rem;
	}

	.figuur1, .figuur4 {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	.figuur1 > div:nth-child(1), .figuur4 > div:nth-child(1) {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
  	}

	.figuur1 > div:nth-child(2), .figuur4 > div:nth-child(2) {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
  	}

	.figuur1 > div:nth-child(3), .figuur4 > div:nth-child(3) {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
  	}

	.figuur1 > div:nth-child(4), .figuur4 > div:nth-child(4) {
		grid-column: 2 / 3;
		grid-row: 4 / 5;
  	}

	.figuur2 {
		grid-template-rows: 1fr 1fr 2fr;
		grid-template-columns: repeat(4, 1fr);
	}

	.figuur2 > div:nth-child(1) {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
  	}

	.figuur2 > div:nth-child(2) {
		grid-column: 2 / 3;
		grid-row: 2 / 4;
  	}

	.figuur2 > div:nth-child(3) {
		grid-column: 3 / 4;
		grid-row: 2 / 4;
  	}

	.figuur2 > div:nth-child(4) {
		grid-column: 4 / 5;
		grid-row: 1 / 3;
  	}

	.figuur3 {
		grid-template-rows: 2fr 1fr 1fr;
		grid-template-columns: repeat(4, 1fr);
	}

	.figuur3 > div:nth-child(1) {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
  	}

	.figuur3 > div:nth-child(2) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
  	}

	.figuur3 > div:nth-child(3) {
		grid-column: 3 / 4;
		grid-row: 1 / 3;
  	}

	.figuur3 > div:nth-child(4) {
		grid-column: 4 / 5;
		grid-row: 2 / 4;
  	}
               
}

@media (min-width: 1150px) {
	body {max-width: 1200px;}

	.figuur1, .figuur2, .figuur3, .figuur4 {
		height: auto;
	}
	
	.eerste {
		  grid-row: 1 / 2;
		  grid-column: 3 / 4;
	}
	
	.tweede {
		  grid-row: 2 / 3;
		  grid-column: 1 / 2;
	}
	
	main {
		  grid-template-columns: 1fr 1fr 1fr;
		  grid-template-rows: 1fr 1fr;
		  margin-bottom: 2.5rem;
	}

	.figuur1 > div:nth-child(1), .figuur4 > div:nth-child(1) {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
  	}

	.figuur1 > div:nth-child(2), .figuur4 > div:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
  	}

	.figuur1 > div:nth-child(3), .figuur4 > div:nth-child(3) {
		grid-column: 3 / 4;
		grid-row: 2 / 4;
  	}

	.figuur1 > div:nth-child(4), .figuur4 > div:nth-child(4) {
		grid-column: 1 / 4;
		grid-row: 4 / 5;
  	}

	.figuur2, .figuur3 {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	.figuur2 > div:nth-child(1), .figuur3 > div:nth-child(1) {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
  	}

	.figuur2 > div:nth-child(2), .figuur3 > div:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
  	}

	.figuur2 > div:nth-child(3), .figuur3 > div:nth-child(3) {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
  	}

	.figuur2 > div:nth-child(4), .figuur3 > div:nth-child(4) {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
  	}
	
}
.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }