/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 70vh;
	height: 70vh;
	background-color: #2554ab;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	gap: 6vh;
}

li:nth-child(1) {
	background-color: #a090af;
	grid-column: 1 / 3;
}

li:nth-child(2) {
	background-color: #a16122;
}

li:nth-child(3) {
	background-color: #e7c948;
}

li:nth-child(4) {
	background-color: #13234e;
	grid-column: 3 / 4;
}

li:nth-child(5) {
	background-color: #ae9310;
	grid-column: 1 / 3;}

li:nth-child(6) {
	background-color: #cd2424;
}

.subnav-content{
    text-align: center;
    margin-top: 20rem;
}
.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  .navbar:hover{
      background-color: red;
      display: block;
  }
.navbar a {
    float: left;
    margin-left: 47%;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }