:root {
  font-size: 62.5%;
  /* 1rem == 10px */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(20, 1fr);
}