body {
	background-color: #f4bfcb;
	padding-top: 3vw;
}

ul {
	background-color: white;
	width: 28vw;
	height: 28vw;
	margin-left: auto;
	margin-right: auto;
	padding: 2vw;
}

li {
	width: 13vw;
	height: 7.5vw;
	background-color: palevioletred;
	padding-top: 5.5vw;
	display: inline-block;
	margin-bottom: 2vw;
	color: white;
	font-size: 2rem;
	text-align: center;
	font-family: helvetica, sans-serif;
}

#blok1 {background-color: #e868b5;}
#blok2 {background-color: #db7093;}
#blok3 {background-color: #e83d94;}
#blok4 {background-color: #c83685;}

#blok1, #blok3 {
	margin-right: 2vw;
}