:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  height: 32vh;
  width: 32vw;

  display: inline-block;
  position: relative;
}
a {
  color: aliceblue;
  text-decoration: none;
  font-size: 5rem;
  font-family: "Ubuntu Mono", monospace;

  top: 40%;
  width: 100%;
  text-align: center;
  position: absolute;
}

li:nth-child(1) {
  background-color: #89b374;
}
li:nth-child(2) {
  background-color: #b5c266;
}
li:nth-child(3) {
  background-color: #e4e4e4;
}
li:nth-child(4) {
  background-color: #387490;
}
li:nth-child(5) {
  background-color: #01acb6;
}
li:nth-child(6) {
  background-color: #2b2b2d;
}
li:nth-child(7) {
  background-color: #702e52;
}
li:nth-child(8) {
  background-color: #f2503b;
}
li:nth-child(9) {
  background-color: #febe28;
}

li:hover {
  background-color: aliceblue;
  color: black;
}