:root {
  font-size: 62.5%; /* 1rem == 10px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  color: white;
  background-color: black;
  height: 7vh;
}
h1 {
  font-size: 4vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  text-align: center;
  padding: 1.5vh;
}
nav {
  display: none;
  position: absolute;
}

@media (min-width: 800px) {
  nav {
    display: grid;
  }
  ul {
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    padding-left: 15%;
    padding-right: 15%;
  }
  li {
    padding: 1.5rem 1rem 1.5rem 1rem;
    text-align: center;
  }
  a {
    color: grey;
    font-size: 2vh;
    text-transform: uppercase;
    text-decoration: none;
  }
  li:first-child a {
   color: aliceblue; 
  }
}

@media (min-width: 1200px) {
  ul {
    display: inline-flex;
    padding: 0 1rem;
    justify-self: right;
  }
  h1 {
    text-align: start;
    padding-bottom: 10rem;
  }
  header {
    height: 10vh;
    display: grid;
    grid-template-columns: 4fr 4fr;
  }
  h1{
    margin-top: 10px;
  }
  li {
    padding-top: 3rem;
  }
  li:nth-child(3) {
    flex:none;
  }
  nav {
    top: -2rem;
    right: 1rem;
  };

}
