:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  height: 100vh;
  padding: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
li {
  padding: 3rem;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  padding-top: 8rem;
}

li:nth-child(1) {
  background-color: firebrick;
}
li:nth-child(2) {
  background-color: yellowgreen;
}
li:nth-child(3) {
  background-color: pink;
}
li:nth-child(4) {
  background-color: deepskyblue;
}
li:nth-child(5) {
  background-color: yellow;
}
li:nth-child(6) {
  background-color: plum;
}
