/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	height: 100vh;
	background-image: linear-gradient(white, #b8b8b8);
	font-family: "helvetica neue";
	font-size: 1.3rem;
	font-weight: 400;
}

main {
	background-image: linear-gradient(180deg, #2c3a67, #0a1427);
	color: white;
	padding: 10vw;
	height: 100vh;
}

nav {
	text-transform: uppercase;
	margin-bottom: 5rem;
}

nav ul li {
	display: inline-block;
	margin-right: 3rem;
	padding-bottom: .5rem;
}

nav ul li:nth-child(1) {
	border-bottom: .15rem solid #1360ed;

}

nav ul li a {
	color: #656c96;
	text-decoration: none;
	transition: all .5s;
}

nav ul li a:hover {
	color: white;
}

legend {
	display: none;
}

p a {
	color: #656c96;
	text-decoration: none;
}

p {
	text-align: center;
	border-top: .15rem solid #656c96;
	padding-top: 2.5rem;
}

input, label {
	display: block;
	margin-bottom: 1rem;
}

label.checkboxlabel {
	display: inline;
}

input[type=text], input[type=password], input[type=submit]  {
	padding: .5rem 1rem;
	border-radius: 3rem;
	width: 100%;
	border: 0;
	height: 2.5rem;
	font-family: inherit;
	font-size: inherit;
	width: 107%;
	margin-left: -3.5%;
	background-color: #656c96;
	color: white;
}

input[type=submit] {
	background-color: #1360ed;
	color: white;
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
	font-weight: 400;
}

input[type=checkbox] {
	display: inline-block;
	background-color: #656c96;
	margin-bottom: 3rem;
}

form {
	display: block;
	margin-bottom: 3rem;
}


@media (min-width: 800px) {
	main {
		background-image: linear-gradient(180deg, #2c3a67, #0a1427);
		height: 80vh;
		width: 60vw;
		margin: 10vh auto;
		color: white;
		padding: 8vw;
		box-shadow: 1rem 1rem .5rem #b8b8b8;
	}
}

@media (min-width: 1100px) {
	main {
		background-image: linear-gradient(180deg, #2c3a67, #0a1427);
		height: 80vh;
		width: 40vw;
		margin: 10vh auto;
		color: white;
		padding: 5vw;
		box-shadow: 1rem 1rem .5rem #b8b8b8;
	}

}
.subnav-content{
	text-align: center;
	margin-top: 20rem;
}
.navbar {
	overflow: hidden;
	background-color: #333; 
  }
  .navbar:hover{
	  background-color: red;
	  display: block;
  }
.navbar a {
	float: left;
	margin-left: 47%;
	font-size: 2rem;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }